Repository pytorch/ignite, pull requests merged in 2021-11, with the labels that each got.

#2307 Doctests for `RMSE` and `MeanPairwiseDistance`
  docs/source/conf.py
  ignite/metrics/mean_pairwise_distance.py
  ignite/metrics/root_mean_squared_error.py
Labels: docs, module: metrics

#2311 Doctest for `PSNR`
  ignite/metrics/mean_absolute_error.py
  ignite/metrics/mean_squared_error.py
  ignite/metrics/psnr.py
  ignite/metrics/ssim.py
Labels: module: metrics

#2317 Doctest for nlp metrics (`BLEU`, `Rouge`, `RougeN`, `RougeL`)
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
Labels: module: metrics

#2321 [skip ci] add doctest for `CohenKappa` metric
  docs/source/conf.py
  ignite/contrib/metrics/cohen_kappa.py
Labels: docs, module: contrib

#2323 [skipci] [Doctest] added contrib regression (``FractionalBias``, ``FractionalAbsoluteError``, ``CanberraMetric``, ``GeometricMeanAbsoluteError``)
  docs/source/conf.py
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  ignite/contrib/metrics/regression/fractional_bias.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
Labels: module: contrib

#2324 [skip ci] add doctest for regression metrics
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  ignite/contrib/metrics/regression/fractional_bias.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py
  ignite/contrib/metrics/regression/manhattan_distance.py
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  ignite/contrib/metrics/regression/mean_absolute_relative_error.py
  ignite/contrib/metrics/regression/mean_error.py
  ignite/contrib/metrics/regression/mean_normalized_bias.py
  ignite/contrib/metrics/regression/median_absolute_error.py
  ignite/contrib/metrics/regression/median_absolute_percentage_error.py
  ignite/contrib/metrics/regression/median_relative_absolute_error.py
  ignite/contrib/metrics/regression/r2_score.py
  ignite/contrib/metrics/regression/wave_hedges_distance.py
Labels: module: contrib

#2316 #2313 fix bug in StateParamScheduler attach method
  ignite/handlers/state_param_scheduler.py
  tests/ignite/handlers/test_state_param_scheduler.py
Labels: module: handlers

#2327 [skip ci] Add doctest for `LinearCyclicalScheduler`
  docs/source/conf.py
  ignite/handlers/param_scheduler.py
Labels: docs, module: handlers

#2331 fixed xla version extraction
  examples/notebooks/MNIST_on_TPU.ipynb
Labels: examples

#2326 Paramscheduler emahandler
  ignite/handlers/state_param_scheduler.py
  tests/ignite/handlers/test_state_param_scheduler.py
Labels: module: handlers

#2332 [skip ci] add doctest for accumulation metrics
  docs/source/conf.py
  ignite/metrics/accumulation.py
Labels: docs, module: metrics

#2336 [skip ci] add doctest for confusion matrix metrics
  ignite/metrics/confusion_matrix.py
Labels: module: metrics

#2290 Doctest for `PiecewiseLinear` lr scheduler
  ignite/handlers/param_scheduler.py
Labels: docs, module: handlers
