Repository pytorch/ignite, pull requests merged in 2021-10, with the labels that each got.

#2223 Added gradient accumulation to supervised training step functions
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2198 `save_handler` auto detects `DiskSaver` when path passed
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2250 Fix test_create_supervised on old PyTorch without amp
  tests/ignite/engine/test_create_supervised.py
Labels: ci

#2247 Skipping visdom tests on macosx
  tests/ignite/contrib/handlers/test_visdom_logger.py
Labels: examples

#2305 Make Checkpoint.load_objects to accept str and load internally (#2303)
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers
