Repository pytorch/ignite, pull requests merged in 2021-12, with the labels that each got.

#2335 [skip ci] Doctest for Loss
  ignite/metrics/loss.py
Labels: module: metrics

#2341 [skipci] [Doctest] added contrib metrics ``AveragePrecision``, ``PrecisionRecallCurve``, ``ROC_AUC`` and ``RocCurve``
  ignite/contrib/metrics/average_precision.py
  ignite/contrib/metrics/precision_recall_curve.py
  ignite/contrib/metrics/roc_auc.py
Labels: docs, module: contrib

#2340 [skip ci] Add doctest for `Precision`, `Recall` and `FBeta` metrics
  ignite/metrics/fbeta.py
  ignite/metrics/precision.py
  ignite/metrics/recall.py
Labels: module: metrics

#2351 [skip ci] Add doctest for EpochMetric
  ignite/metrics/epoch_metric.py
Labels: module: metrics

#2349 [skip ci] Add doctest for GAN metrics
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
Labels: module: metrics

#2348 [skip ci] Add doctest for RunningAverage
  ignite/metrics/running_average.py
Labels: module: metrics

#2346 [skip ci] Add doctest for ClassificationReport metric
  ignite/metrics/classification_report.py
  ignite/metrics/precision.py
  ignite/metrics/recall.py
Labels: module: metrics

#2347 [skip ci] Add doctest for MultiLabelConfusionMatrix metric
  ignite/metrics/multilabel_confusion_matrix.py
Labels: module: metrics

#2352 [skip ci] Add doctest for MetricsLambda
  ignite/metrics/metrics_lambda.py
Labels: module: metrics

#2345 [skip ci] add doctest for Accuracy metric
  ignite/metrics/accuracy.py
Labels: module: metrics

#2355 TPU CI : mkl version
  .github/workflows/tpu-tests.yml
Labels: ci

#2344 Fix #2343
  ignite/contrib/handlers/clearml_logger.py
Labels: module: contrib

#2357 Fixes failing CI on GPU and HVD
  .circleci/config.yml
  tests/ignite/conftest.py
  tests/run_gpu_tests.sh
Labels: ci

#2367 Updated black to 21.12b0 and fixed codebase for others folders
  .github/workflows/trigger_circle_ci.py
  docker/test_image.py
  examples/contrib/cifar10/main.py
  examples/contrib/cifar10/utils.py
  examples/contrib/cifar10_qat/main.py
  examples/contrib/cifar10_qat/utils.py
  examples/contrib/transformers/main.py
  examples/gan/dcgan.py
  examples/mnist/mnist_save_resume_engine.py
  examples/mnist/mnist_with_tensorboard_on_tpu.py
  examples/references/classification/imagenet/code/dataflow/dataloaders.py
  examples/references/classification/imagenet/code/scripts/training.py
  examples/references/classification/imagenet/code/utils/exp_tracking.py
  examples/references/segmentation/pascal_voc2012/configs/baseline_dplv3_resnet101.py
  examples/references/segmentation/pascal_voc2012/configs/baseline_dplv3_resnet101_sbd.py
  examples/references/segmentation/pascal_voc2012/dataflow.py
  examples/references/segmentation/pascal_voc2012/main.py
  examples/references/segmentation/pascal_voc2012/utils.py
  ignite/contrib/engines/common.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/contrib/metrics/regression/median_absolute_error.py
  ignite/contrib/metrics/roc_auc.py
  setup.py
  tests/run_code_style.bat
  tests/run_code_style.sh
Labels: module: contrib, docker, examples, ci

#2370 Fixed dtype cast to recommened way of doing that
  ignite/metrics/confusion_matrix.py
Labels: module: metrics

#2359 Update config.yml
  .circleci/config.yml
Labels: ci

#2369 Added data as None option to Engine.run
  ignite/engine/deterministic.py
  ignite/engine/engine.py
  tests/ignite/engine/test_deterministic.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#2371 Add concurrency to cancel in-progress workflows for testing
  .github/workflows/hvd-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2365 python 3.6 support removed due to EOL, 2021-12-23
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/unit-tests.yml
  pyproject.toml
Labels: ci

#2333 Ema momentum
  ignite/handlers/ema_handler.py
  ignite/handlers/state_param_scheduler.py
  tests/ignite/handlers/test_ema_handler.py
Labels: module: handlers

#2374 Fixing failing nightly release on pypi (2373)
  .github/workflows/binaries-nightly-release.yml
Labels: ci

#2377 Try to fix nightly pypi release
  .github/workflows/binaries-nightly-release.yml
Labels: ci

#2382 Improve typing hints for Engine and helper methods
  ignite/engine/__init__.py
  ignite/engine/deterministic.py
  ignite/engine/engine.py
Labels: module: engine

#2384 [skip ci] Add doctest for LR Schedulers
  ignite/handlers/param_scheduler.py
Labels: module: handlers

#2389 [skip ci] Add doctest for LR schedulers
  docs/source/conf.py
  ignite/handlers/param_scheduler.py
Labels: docs, module: handlers

#2392 fix broken sklearn link in docstring
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/contrib/metrics/regression/manhattan_distance.py
Labels: module: contrib

#2391 Add doctest for ExpStateScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2395 updated engine to default_trainer in ExpStateScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2394 Add doctest for StepStateScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2400 Add doctest for PieceWiseLinearStateScheduler
  ignite/handlers/param_scheduler.py
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers
