Repository pytorch/ignite, pull requests merged in 2021-05, with the labels that each got.

#1974 give an option to store `EpochOutputStore` data on `engine.state`
  ignite/contrib/handlers/stores.py
  tests/ignite/contrib/handlers/test_stores.py
Labels: module: contrib

#1982 move EpochOutputStore out of contrib keeping BC
  docs/source/contrib/handlers.rst
  docs/source/handlers.rst
  ignite/contrib/handlers/__init__.py
  ignite/handlers/__init__.py
  ignite/handlers/stores.py
  tests/ignite/handlers/test_stores.py
Labels: module: contrib, module: handlers

#1951 Return axes instead of plotting for LRFinder
  examples/notebooks/FastaiLRFinder_MNIST.ipynb
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: examples, module: contrib

#1985 Use cuda 10.1 on Windows
  .circleci/config.yml
Labels: ci

#1981 Extend `plot` method in LRFinder for multiple `param_groups`
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
  tests/ignite/contrib/metrics/test_average_precision.py
Labels: module: contrib

#1993 chore: version change in EOS core handler [skip ci]
  ignite/handlers/stores.py
Labels: module: handlers

#1987 Add `apply_suggested_lr` to LRFinder
  examples/notebooks/FastaiLRFinder_MNIST.ipynb
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: examples, module: contrib

#1988 Move param handler
  docs/source/contrib/handlers.rst
  docs/source/handlers.rst
  ignite/contrib/handlers/param_scheduler.py
  ignite/handlers/__init__.py
  ignite/handlers/param_scheduler.py
Labels: module: contrib, module: handlers

#1996 Improve LRFinder for DDP
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: contrib

#1998 Move LRFinder to core
  docs/source/contrib/handlers.rst
  docs/source/handlers.rst
  examples/notebooks/FastaiLRFinder_MNIST.ipynb
  ignite/contrib/handlers/lr_finder.py
  ignite/handlers/__init__.py
  ignite/handlers/lr_finder.py
Labels: docs, examples, module: handlers

#2001 neptune_logger.py typo fix.
  ignite/contrib/handlers/neptune_logger.py
Labels: module: contrib

#2005 added google analytics global tag for docs
  docs/source/_templates/layout.html
Labels: docs

#2006 Rename the default logger
  ignite/utils.py
Labels: module: utils

#2014 Cosmetics from #1822
  ignite/handlers/checkpoint.py
  ignite/metrics/accumulation.py
  ignite/metrics/loss.py
  ignite/utils.py
  tests/ignite/contrib/handlers/test_mlflow_logger.py
  tests/ignite/contrib/handlers/test_visdom_logger.py
  tests/ignite/distributed/test_auto.py
  tests/ignite/engine/test_deterministic.py
  tests/ignite/engine/test_engine.py
Labels: module: handlers, module: metrics, module: utils

#2016 Enabled gpu for gloo [test on gpus]
  ignite/distributed/auto.py
  ignite/distributed/comp_models/native.py
  tests/ignite/conftest.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_lr_finder.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
  tests/ignite/contrib/metrics/regression/test_canberra_metric.py
  tests/ignite/contrib/metrics/regression/test_fractional_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_fractional_bias.py
  tests/ignite/contrib/metrics/regression/test_geometric_mean_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_manhattan_distance.py
  tests/ignite/contrib/metrics/regression/test_maximum_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_mean_absolute_relative_error.py
  tests/ignite/contrib/metrics/regression/test_mean_normalized_bias.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_percentage_error.py
  tests/ignite/contrib/metrics/regression/test_median_relative_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_r2_score.py
  tests/ignite/contrib/metrics/regression/test_wave_hedges_distance.py
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_cohen_kappa.py
  tests/ignite/contrib/metrics/test_roc_auc.py
  tests/ignite/distributed/comp_models/test_base.py
  tests/ignite/distributed/comp_models/test_native.py
  tests/ignite/distributed/test_auto.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/engine/test_custom_events.py
  tests/ignite/engine/test_deterministic.py
  tests/ignite/engine/test_engine.py
  tests/ignite/handlers/test_checkpoint.py
  tests/ignite/handlers/test_early_stopping.py
  tests/ignite/metrics/nlp/test_bleu.py
  tests/ignite/metrics/nlp/test_rouge.py
  tests/ignite/metrics/test_accumulation.py
  tests/ignite/metrics/test_accuracy.py
  tests/ignite/metrics/test_classification_report.py
  tests/ignite/metrics/test_confusion_matrix.py
  tests/ignite/metrics/test_epoch_metric.py
  tests/ignite/metrics/test_fbeta.py
  tests/ignite/metrics/test_loss.py
  tests/ignite/metrics/test_mean_absolute_error.py
  tests/ignite/metrics/test_mean_pairwise_distance.py
  tests/ignite/metrics/test_mean_squared_error.py
  tests/ignite/metrics/test_metric.py
  tests/ignite/metrics/test_metrics_lambda.py
  tests/ignite/metrics/test_multilabel_confusion_matrix.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_psnr.py
  tests/ignite/metrics/test_recall.py
  tests/ignite/metrics/test_root_mean_squared_error.py
  tests/ignite/metrics/test_running_average.py
  tests/ignite/metrics/test_ssim.py
  tests/ignite/metrics/test_top_k_categorical_accuracy.py
Labels: module: distributed

#2017 Fix Precision compute for all zero predictions
  ignite/metrics/precision.py
  ignite/metrics/recall.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_recall.py
Labels: module: metrics
