Repository pytorch/ignite, pull requests merged in 2021-04, with the labels that each got.

#1892 Fix TPU failure
  ignite/contrib/metrics/regression/wave_hedges_distance.py
  tests/ignite/contrib/metrics/regression/test_wave_hedges_distance.py
Labels: module: contrib

#1896 updated wandb logger
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/wandb_logger.py
  tests/ignite/contrib/handlers/test_polyaxon_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
Labels: module: contrib

#1891 Improve `MRAE` for DDP
  ignite/contrib/metrics/regression/median_relative_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_median_relative_absolute_error.py
Labels: module: contrib

#1911 Updates nltk-smooth2 for bleu
  ignite/metrics/nlp/bleu.py
Labels: module: metrics

#1907 Improve docs github workflow action
  .github/workflows/docs.yml
Labels: ci

#1808 cov: add tests for ignite.contrib.engines
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_gpu_info.py
Labels: module: handlers

#1933 docs: optimize SEO
  docs/source/_templates/_static/css/ignite_theme.css
  docs/source/_templates/_static/img/netlify-light.svg
  docs/source/_templates/fonts.html
  docs/source/_templates/footer.html
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/index.rst
Labels: docs

#1924 Fix the node zero rank zero download constraint for examples
  examples/contrib/cifar10/main.py
  examples/contrib/cifar10_qat/main.py
  examples/contrib/transformers/main.py
Labels: examples

#1940 Fix for tpu test failure CI job
  .github/workflows/tpu-tests.yml
Labels: ci

#1937 enable metric ordering on ProgressBar
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  tests/ignite/contrib/handlers/test_tqdm_logger.py
Labels: module: contrib

#1930 Allow lr_finder to save files
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: contrib

#1919 Remove TODO from engine.py
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#1950 Temporarily disabled pytorch-nightly tests
  .github/workflows/unit-tests.yml
Labels: ci

#1887 Adding classification report metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/classification_report.py
  tests/ignite/metrics/test_classification_report.py
Labels: module: contrib

#1839 Added `safe_mode` for Idist broadcast
  ignite/distributed/comp_models/base.py
  ignite/distributed/utils.py
  tests/ignite/distributed/comp_models/test_base.py
  tests/ignite/distributed/utils/__init__.py
Labels: module: distributed

#1957 TST Increases test coverage for checkpoint
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#1918 [skip ci] Update TextCNN example to torchtext==0.9.0 api
  examples/notebooks/TextCNN.ipynb
Labels: examples

#1964 WIP: Revert back tests on pytorch nightly
  .github/workflows/unit-tests.yml
Labels: ci

#1970 feat: set seed for xla in ignite.utils.manual_seed
  ignite/utils.py
Labels: module: utils

#1961 Improve LRFinder
  ignite/contrib/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: contrib

#1977 Accumulation with apex
  ignite/metrics/accumulation.py
  tests/ignite/metrics/test_accumulation.py
Labels: module: metrics

#1976 SLURM should not work with torch launchers
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed

#1978 Accumulation with apex (#1977)
  ignite/metrics/accumulation.py
  tests/ignite/metrics/test_accumulation.py
Labels: module: metrics

#1979 Improve GA Workflow
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/unit-tests.yml
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: ci
