Repository pytorch/ignite, pull requests merged in 2021-06, with the labels that each got.

#2024 [skip ci] DOC: corrected spelling of defined in notes
  ignite/engine/__init__.py
Labels: module: engine

#2023 Fixes Part of #2018: Fix warnings in CI
  ignite/contrib/engines/common.py
  ignite/contrib/handlers/__init__.py
  tests/ignite/contrib/handlers/test_param_scheduler.py
  tests/ignite/contrib/metrics/test_precision_recall_curve.py
  tests/ignite/contrib/metrics/test_roc_curve.py
  tests/ignite/engine/test_create_supervised.py
  tests/ignite/handlers/test_checkpoint.py
  tests/ignite/metrics/test_confusion_matrix.py
  tests/ignite/test_utils.py
Labels: module: contrib

#2028 Handles IterableDataset with auto_dataloader
  ignite/distributed/auto.py
  tests/ignite/distributed/test_auto.py
Labels: module: distributed

#2027 ENH: Updated Loss metric to use required_output_keys
  ignite/metrics/loss.py
  tests/ignite/metrics/test_loss.py
Labels: module: metrics

#2021 Uniformly handling of metric types for all loggers
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
Labels: module: contrib

#2044 ci: do not fail codecov action if error
  .github/workflows/hvd-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2037 Fix CI warnings
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: handlers

#2034 Added Arguments *args, **kwargs to BaseLogger.attach method
  ignite/contrib/handlers/base_logger.py
  tests/ignite/contrib/handlers/test_base_logger.py
Labels: module: contrib

#2050 remove Mypy errors with new version of Mypy
  ignite/handlers/checkpoint.py
  ignite/utils.py
  requirements-dev.txt
Labels: module: handlers, module: utils

#2045 Handled different `engine.state.output` types for LRFinder
  ignite/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: handlers

#2055 Added support for list of tensors as metric input
  ignite/metrics/metric.py
  tests/ignite/metrics/test_accumulation.py
  tests/ignite/metrics/test_accuracy.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#2049 Fid Metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/gan/__init__.py
  ignite/metrics/gan/fid.py
  mypy.ini
  requirements-dev.txt
  tests/ignite/metrics/gan/__init__.py
  tests/ignite/metrics/gan/test_fid.py
Labels: docs, module: metrics

#2064 Fix mnist download for tpu and hvd tests
  .github/workflows/hvd-tests.yml
  .github/workflows/tpu-tests.yml
Labels: ci

#2061 FID pytorch Old version and Windows Fix
  ignite/metrics/gan/fid.py
  requirements-dev.txt
  tests/ignite/metrics/gan/test_fid.py
Labels: module: metrics

#2062 Fixes issue with metric's output device
  ignite/metrics/metric.py
  tests/ignite/metrics/test_metric.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_recall.py
Labels: module: metrics

#2067 fix: Update circle CI pytorch images 1.8.1 -> 1.9
  .circleci/config.yml
Labels: ci

#2068 ci: run `linkcheck` only on push and pull
  .github/workflows/docs.yml
Labels: ci

#2070 Refactor stable release workflow [skip netlify]
  .github/workflows/stable-release-anaconda.yml
  .github/workflows/stable-release-pypi.yml
Labels: ci

#2073 Bug Fix MBConv Class - EffNet_Cifar100_finetuning
  examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb
Labels: examples

#2075 Update CUDA driver before running GPU tests on win
  .circleci/config.yml
Labels: ci

#2077 Lost the character "f" in f-string
  examples/mnist/mnist_save_resume_engine.py
Labels: examples

#2079 fix: Corrects type hint for ProgressBar
  ignite/contrib/handlers/tqdm_logger.py
Labels: module: contrib

#2081 Move `DeterministicEngine` rng states tensor to cpu on checkpoint loading
  ignite/engine/deterministic.py
  tests/ignite/engine/test_deterministic.py
Labels: module: engine

#2053 Inception Score
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/gan/__init__.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/gan/utils.py
  tests/ignite/metrics/gan/test_fid.py
  tests/ignite/metrics/gan/test_inception_score.py
  tests/ignite/metrics/gan/test_utils.py
Labels: docs, module: metrics

#2083 Improved Mean Error for DDP
  ignite/contrib/metrics/regression/mean_error.py
  tests/ignite/contrib/metrics/regression/test_mean_error.py
Labels: module: contrib

#2085 Data Type mismatch Fix (check on GPU CI)
  ignite/metrics/gan/inception_score.py
  ignite/metrics/gan/utils.py
  tests/ignite/metrics/gan/test_fid.py
  tests/ignite/metrics/gan/test_inception_score.py
Labels: module: metrics
