Repository pytorch/ignite, pull requests merged in 2021-07, with the labels that each got.

#2093 ci: bump pytorch 1.8.0 to 1.8.1
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#2094 Docs improvement and fixing bug with FID/IS metrics
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/gan/utils.py
  tests/ignite/metrics/gan/test_utils.py
Labels: module: metrics

#2092 Add hostlist expand as alternative to scontrol
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed, module: utils

#2091 Extended `MetricsLambda` to update its underlying metrics
  ignite/metrics/metrics_lambda.py
  tests/ignite/metrics/test_metrics_lambda.py
Labels: module: metrics

#2096 Fixed `GMRAE` implementation + Improved for DDP
  ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_geometric_mean_relative_absolute_error.py
Labels: module: contrib

#2098 add EMA handler
  docs/source/handlers.rst
  ignite/handlers/__init__.py
  ignite/handlers/ema_handler.py
  tests/ignite/handlers/test_ema_handler.py
Labels: docs, module: handlers

#2103 Fix fid import scipy
  ignite/metrics/gan/fid.py
Labels: module: metrics

#2110 Removed temporary fix with mkl
  .github/workflows/tpu-tests.yml
Labels: ci

#2107 Introduced `EventsDriven`
  docs/source/base.rst
  docs/source/index.rst
  ignite/base/__init__.py
  ignite/base/events_driven.py
  ignite/engine/events.py
  tests/ignite/base/test_events_driven.py
Labels: docs, module: base, module: engine

#2111 Added `start_lr` option to LRFinder
  ignite/handlers/lr_finder.py
  tests/ignite/contrib/handlers/test_lr_finder.py
Labels: module: handlers

#2115 Moved state
  docs/source/concepts.rst
  docs/source/engine.rst
  docs/source/faq.rst
  ignite/engine/__init__.py
  ignite/engine/engine.py
  ignite/engine/events.py
  ignite/engine/state.py
Labels: docs, module: engine

#2116 BUG: Fix the NVIDIA/Apex installation on Colab
  examples/notebooks/Cifar100_bench_amp.ipynb
  examples/notebooks/CycleGAN_with_nvidia_apex.ipynb
  examples/notebooks/EfficientNet_Cifar100_finetuning.ipynb
Labels: examples

#2117 Update main.py
  examples/contrib/cifar10/main.py
Labels: examples

#2120 Raise error in DistributedProxySampler when sampler is already a DistributedSampler
  ignite/distributed/auto.py
  tests/ignite/distributed/test_auto.py
Labels: module: distributed

#2119 Modify auto_dataloader() to not wrap user provided DistributedSampler
  ignite/distributed/auto.py
  tests/ignite/distributed/test_auto.py
Labels: module: distributed

#2123 Fix download mnist steps
  .circleci/config.yml
Labels: ci

#2122 Refactored Events
  docs/source/base.rst
  docs/source/concepts.rst
  docs/source/engine.rst
  docs/source/faq.rst
  ignite/base/__init__.py
  ignite/base/events.py
  ignite/base/events_driven.py
  ignite/contrib/handlers/base_logger.py
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/base/test_events_driven.py
Labels: docs, module: base, module: contrib, module: engine

#2127 Improved LRFinder error message
  ignite/handlers/lr_finder.py
Labels: module: handlers
