Repository pytorch/ignite, pull requests merged in 2021-08, with the labels that each got.

#2132 Moved `BasicTimeProfiler` and `HandlersTimeProfiler` to core
  docs/source/contrib/handlers.rst
  docs/source/faq.rst
  docs/source/handlers.rst
  ignite/contrib/handlers/__init__.py
  ignite/contrib/handlers/time_profilers.py
  ignite/handlers/__init__.py
  ignite/handlers/time_profilers.py
  tests/ignite/handlers/test_time_profilers.py
Labels: docs, module: contrib, module: handlers

#2142 Updated msdp version to 0.4.4
  .circleci/config.yml
Labels: ci

#2140 Moved metrics data_type dispatch to base class
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  tests/ignite/contrib/handlers/test_base_logger.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
Labels: module: contrib

#2137 Updated BaseOutputHandler to accept state attributes - Tensorboard
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  tests/ignite/contrib/handlers/test_base_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
Labels: module: contrib

#2148 Added state_attributes for Visdom logger
  ignite/contrib/handlers/visdom_logger.py
  tests/ignite/contrib/handlers/test_visdom_logger.py
Labels: module: contrib

#2149 Updated idist docs: added info for Jupyter
  docs/source/distributed.rst
  ignite/distributed/launcher.py
Labels: docs, module: distributed

#2146 Improved `Checkpoint` to use score_name as metric's key
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2152 Added versionchanged for Tensorboard and Visdom loggers
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/visdom_logger.py
Labels: module: contrib

#2155 [skip ci] Updated idist docs
  docs/source/distributed.rst
Labels: docs

#2154 added state attributes for WandB Logger
  ignite/contrib/handlers/wandb_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
Labels: module: contrib

#2160 Added state attributes for MLFlow Logger
  ignite/contrib/handlers/mlflow_logger.py
  tests/ignite/contrib/handlers/test_mlflow_logger.py
Labels: module: contrib

#2161 Added state attributes for Polyaxon Logger
  ignite/contrib/handlers/polyaxon_logger.py
  tests/ignite/contrib/handlers/test_polyaxon_logger.py
Labels: module: contrib

#2162 Added state attributes for tqdm logger
  ignite/contrib/handlers/tqdm_logger.py
  tests/ignite/contrib/handlers/test_tqdm_logger.py
Labels: module: contrib

#2164 Update versionadded/versionchanged in master according to the latest releases
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  ignite/contrib/metrics/regression/fractional_bias.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  ignite/contrib/metrics/regression/mean_absolute_relative_error.py
  ignite/contrib/metrics/regression/mean_normalized_bias.py
  ignite/contrib/metrics/regression/wave_hedges_distance.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/launcher.py
  ignite/distributed/utils.py
  ignite/engine/__init__.py
  ignite/handlers/ema_handler.py
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/stores.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/metric.py
  ignite/metrics/multilabel_confusion_matrix.py
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
  ignite/metrics/nlp/utils.py
  ignite/utils.py
Labels: module: engine, module: metrics, module: handlers, module: distributed, module: contrib, module: utils

#2166 Quick fixes to about section
  docs/source/about.rst
Labels: docs

#2173 Improve the Timer's example
  ignite/handlers/timing.py
Labels: module: handlers

#2169 auto_optim enhancement
  ignite/distributed/auto.py
  tests/ignite/distributed/test_auto.py
Labels: module: distributed

#2176 Rouge example fix
  ignite/metrics/nlp/rouge.py
Labels: module: metrics

#2177 docs: add `TimeLimit` back to handlers
  docs/source/handlers.rst
Labels: docs

#2180 added Bleu calculation on batch input
  ignite/metrics/nlp/bleu.py
  tests/ignite/metrics/nlp/__init__.py
  tests/ignite/metrics/nlp/test_bleu.py
  tests/ignite/metrics/nlp/test_rouge.py
Labels: module: metrics
