Repository pytorch/ignite, pull requests merged in 2021-03, with the labels that each got.

#1747 [flake8] remove unused imports in distributed
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
Labels: module: distributed

#1749 [flake8] remove unused imports in contrib/handlers
  ignite/contrib/handlers/neptune_logger.py
Labels: module: contrib

#1714 Adding automatic mixed precision in create_supervised_evaluator
  docs/source/engine.rst
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: docs, module: engine

#1733 Added docker image test script
  .circleci/config.yml
  .github/workflows/docker-build.yml
  docker/build.sh
  docker/hvd/Dockerfile.hvd-apex
  docker/hvd/Dockerfile.hvd-base
  docker/main/Dockerfile.apex
  docker/main/Dockerfile.base
  docker/msdp/Dockerfile.msdp-apex
  docker/test_image.py
Labels: docker

#1752 Fixes python version for building docker images on circleci
  .circleci/config.yml
  docker/main/Dockerfile.vision
  docker/msdp/Dockerfile.msdp-apex-vision
Labels: docker

#1748 Make EpochMetric more generic
  ignite/contrib/metrics/regression/_base.py
  ignite/contrib/metrics/regression/median_absolute_error.py
  ignite/contrib/metrics/regression/median_absolute_percentage_error.py
  ignite/contrib/metrics/regression/median_relative_absolute_error.py
  ignite/metrics/epoch_metric.py
  tests/ignite/contrib/metrics/regression/test__base.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_percentage_error.py
  tests/ignite/contrib/metrics/regression/test_median_relative_absolute_error.py
  tests/ignite/metrics/test_epoch_metric.py
Labels: module: contrib, module: metrics

#1761 ci: add timeout-mintues in linkcheck job
  .github/workflows/docs.yml
Labels: ci

#1764 Keep only the latest commit for gh-pages
  .github/workflows/docs.yml
Labels: ci, docs

#1771 Fix MNIST dataset downloading
  .circleci/config.yml
  .github/workflows/unit-tests.yml
  examples/mnist/mnist_patch.py
Labels: ci, examples

#1770 docs(search): searching with keyboard shortcut
  docs/source/_templates/_static/css/ignite_theme.css
  docs/source/_templates/layout.html
  docs/source/_templates/searchbox.html
  docs/source/conf.py
Labels: docs

#1773 Fix circleci MNIST Download cmds
  .circleci/config.yml
Labels: ci

#1780 docs: use autosummary generated docs, add nitpicky mode
  .github/workflows/docs.yml
  .gitignore
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/function.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/classwithcall.rst
  docs/source/_templates/fonts.html
  docs/source/_templates/layout.html
  docs/source/concepts.rst
  docs/source/conf.py
  docs/source/contrib/handlers.rst
  docs/source/contrib/metrics.rst
  docs/source/distributed.rst
  docs/source/engine.rst
  docs/source/faq.rst
  docs/source/handlers.rst
  docs/source/metrics.rst
  docs/source/utils.rst
  ignite/contrib/engines/common.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/stores.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/time_profilers.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/trains_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/contrib/metrics/cohen_kappa.py
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/distributed/launcher.py
  ignite/distributed/utils.py
  ignite/engine/deterministic.py
  ignite/engine/events.py
  ignite/handlers/checkpoint.py
  ignite/handlers/timing.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/metric.py
  ignite/metrics/metrics_lambda.py
  ignite/metrics/running_average.py
Labels: ci, docs

#1762 improve roc auc
  ignite/contrib/metrics/roc_auc.py
  tests/ignite/contrib/metrics/test_roc_auc.py
Labels: module: contrib

#1772 Added Rouge metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/rouge.py
  requirements-dev.txt
  tests/ignite/metrics/test_rouge.py
Labels: docs, module: metrics

#1782 Add action for greeting first-time contributors [skip netlify] [skip ci]
  .github/workflows/welcome.yml
Labels: ci

#1804 Rouge last details
  docs/source/metrics.rst
  ignite/metrics/rouge.py
  tests/ignite/metrics/test_rouge.py
Labels: docs, module: metrics

#1803 Improve FAE metric for DDP
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_fractional_absolute_error.py
Labels: module: contrib

#1806 Improve GMAE metric for DDP
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_geometric_mean_absolute_error.py
Labels: module: contrib

#1805 Improve FB metric for DDP
  ignite/contrib/metrics/regression/fractional_bias.py
  tests/ignite/contrib/metrics/regression/test_fractional_bias.py
Labels: module: contrib

#1807 cov: add test for ignite.base
  ignite/base/mixins.py
  tests/ignite/base/test_mixins.py
Labels: module: base

#1820 Add output detach for Canberra metric
  ignite/contrib/metrics/regression/canberra_metric.py
Labels: module: contrib

#1812 cov: add tests in {events,deterministic}.py
  ignite/engine/deterministic.py
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
  tests/ignite/engine/test_deterministic.py
  tests/ignite/engine/test_event_handlers.py
Labels: module: engine

#1818 script: add code style bash script
  .github/workflows/code-style.yml
  .github/workflows/unit-tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  setup.cfg
  tests/run_code_style.sh
Labels: ci

#1767 Improve idist to implement different init_methods
  ignite/distributed/comp_models/native.py
  ignite/distributed/launcher.py
  ignite/distributed/utils.py
  tests/ignite/conftest.py
  tests/ignite/distributed/check_idist_parallel.py
  tests/ignite/distributed/comp_models/test_native.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_native.py
Labels: module: distributed

#1815 cov: add tests for some contrib.handlers
  ignite/contrib/handlers/time_profilers.py
  tests/ignite/contrib/handlers/test_lr_finder.py
  tests/ignite/contrib/handlers/test_param_scheduler.py
  tests/ignite/contrib/handlers/test_time_profilers.py
  tests/ignite/contrib/handlers/test_tqdm_logger.py
  tests/ignite/contrib/handlers/test_visdom_logger.py
Labels: module: contrib

#1830 Improve MNB metric for DDP
  ignite/contrib/metrics/regression/mean_normalized_bias.py
  tests/ignite/contrib/metrics/regression/test_mean_normalized_bias.py
Labels: module: contrib

#1827 Ref example Pascal VOC: removed unused code
  examples/references/segmentation/pascal_voc2012/code/dataflow/dataloaders.py
  examples/references/segmentation/pascal_voc2012/code/dataflow/datasets.py
  examples/references/segmentation/pascal_voc2012/code/utils/exp_tracking.py
  examples/references/segmentation/pascal_voc2012/code/utils/handlers.py
Labels: examples

#1829 improve MARE metric for DDP
  ignite/contrib/metrics/regression/mean_absolute_relative_error.py
  tests/ignite/contrib/metrics/regression/test_mean_absolute_relative_error.py
Labels: module: contrib

#1837 Fix create issue for PyTorch version tests
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#1817 style: remove unused imports left in #1725
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/metrics/average_precision.py
  ignite/contrib/metrics/cohen_kappa.py
  ignite/contrib/metrics/gpu_info.py
  ignite/contrib/metrics/regression/_base.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  ignite/contrib/metrics/roc_auc.py
  setup.cfg
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_cohen_kappa.py
  tests/ignite/contrib/metrics/test_roc_auc.py
  tests/ignite/test_utils.py
Labels: module: contrib

#1809 cov: add tests for ignite.contrib.metrics
  ignite/contrib/metrics/regression/_base.py
  tests/ignite/contrib/metrics/regression/test__base.py
  tests/ignite/contrib/metrics/regression/test_canberra_metric.py
  tests/ignite/contrib/metrics/regression/test_fractional_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_fractional_bias.py
  tests/ignite/contrib/metrics/regression/test_geometric_mean_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_geometric_mean_relative_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_manhattan_distance.py
  tests/ignite/contrib/metrics/regression/test_maximum_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_mean_absolute_relative_error.py
  tests/ignite/contrib/metrics/regression/test_mean_error.py
  tests/ignite/contrib/metrics/regression/test_mean_normalized_bias.py
  tests/ignite/contrib/metrics/regression/test_r2_score.py
  tests/ignite/contrib/metrics/regression/test_wave_hedges_distance.py
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_cohen_kappa.py
  tests/ignite/contrib/metrics/test_precision_recall_curve.py
  tests/ignite/contrib/metrics/test_roc_auc.py
  tests/ignite/contrib/metrics/test_roc_curve.py
Labels: module: contrib

#1835 Join labeler and welcome into single workflow
  .github/pr-labeler-config.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/triage.yml
  .github/workflows/welcome.yml
Labels: ci

#1825 docs: link to master about page [skip ci]
  docs/source/index.rst
Labels: docs

#1849 docs: suppress warning for about page using :orphan: [skip ci]
  docs/source/about.rst
  docs/source/index.rst
Labels: docs

#1848 Fixed bug with horovod _do_manual_all_reduce
  ignite/distributed/comp_models/horovod.py
  tests/ignite/distributed/utils/__init__.py
Labels: module: distributed

#1847 ci: run pip as module for all os
  .github/workflows/hvd-tests.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#1816 cov: add tests for ignite.metrics
  ignite/metrics/metric.py
  ignite/metrics/rouge.py
  tests/ignite/metrics/test_accuracy.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#1823 Extend `sync_all_reduce` API
  docs/source/metrics.rst
  ignite/metrics/metric.py
  tests/ignite/metrics/test_metric.py
Labels: docs, module: metrics

#1850 Improve MAE metric for DDP
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_maximum_absolute_error.py
Labels: module: contrib

#1861 ci: separate create-issue job for pytorch version tests workflow [skip ci]
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#1834 Add bleu metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/nlp/__init__.py
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
  ignite/metrics/nlp/utils.py
  tests/ignite/metrics/nlp/__init__.py
  tests/ignite/metrics/nlp/test_bleu.py
  tests/ignite/metrics/nlp/test_rouge.py
  tests/ignite/metrics/nlp/test_utils.py
Labels: module: metrics

#1838 Improve `code-style` workflow by tweaking path filters
  .github/workflows/code-style.yml
Labels: ci

#1867 Trigger Unit Tests on `requirements-dev.txt` updates
  .github/workflows/unit-tests.yml
Labels: ci

#1865 Improve `MedianAbsoluteError` metric for DDP
  ignite/contrib/metrics/regression/median_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_error.py
Labels: module: contrib

#1869 Improve WHM metric for DDP
  ignite/contrib/metrics/regression/wave_hedges_distance.py
  tests/ignite/contrib/metrics/regression/test_wave_hedges_distance.py
Labels: module: contrib

#1870 Add distributed tests for MAPE
  ignite/contrib/metrics/regression/median_absolute_percentage_error.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_percentage_error.py
Labels: module: contrib

#1873 chore: remove env.GITHUB_JOB [skip ci]
  .github/failed_schedule_issue_template.md
Labels: ci

#1877 fix: skip `test_create_supervised_training_scalar_assignment` if torch < 1.6.0
  tests/ignite/engine/test_create_supervised.py
Labels: ci

#1878 ci: up pytorch to 1.8.1
  .circleci/config.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#1888 Fix mkl linking issue
  .github/workflows/tpu-tests.yml
Labels: ci

#1880 Added full read permissions to saved file (1876)
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#1890 Fix attribute errors in TextCNN
  examples/notebooks/TextCNN.ipynb
Labels: examples

#1893 Improved precision/recall docstrings
  ignite/metrics/precision.py
  ignite/metrics/recall.py
Labels: module: metrics
