Repository pytorch/ignite, pull requests merged in 2021-09, with the labels that each got.

#2184 Temporarily disabled failing tests on nightly version
  tests/ignite/distributed/test_launcher.py
  tests/ignite/engine/test_deterministic.py
Labels: ci

#2186 [skip ci] Fix broken link from horovod doc
  ignite/distributed/utils.py
Labels: module: distributed

#2179 Include micro averaging - Bleu Score
  ignite/metrics/nlp/bleu.py
  tests/ignite/metrics/nlp/test_bleu.py
Labels: module: metrics

#2196 Fixed #2195, improved ConfusionMatrix docs
  ignite/metrics/confusion_matrix.py
Labels: docs, module: metrics

#2188 Override start_method
  ignite/distributed/comp_models/native.py
  ignite/distributed/launcher.py
Labels: module: distributed

#2190 Transformer Example Update - AutoModelforSequenceClassification
  examples/contrib/transformers/README.md
  examples/contrib/transformers/dataset.py
  examples/contrib/transformers/main.py
  examples/contrib/transformers/model.py
Labels: examples

#2204 Fix expand hostlist for SLURM
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed

#2200 Enabled LRFinder to run multiple epochs
  ignite/handlers/lr_finder.py
  tests/ignite/handlers/test_lr_finder.py
Labels: module: handlers

#2206 Refactored PTH DDP env vars creation in SLURM
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed

#2208 Fix hostname list expansion
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed

#2216 fix #2114: make doc subsections header bold
  docs/source/_templates/_static/css/ignite_theme.css
Labels: docs

#2217 Fix 2114: Sphinx copy-button plugin
  docs/requirements.txt
  docs/source/conf.py
Labels: docs

#2225 Relates to #2114. bugfix for docstring examples with huge bottom padding
  docs/source/_templates/_static/css/ignite_theme.css
Labels: docs

#2226 Temporary fix GPU CI
  .circleci/config.yml
Labels: ci

#2201 ci: migrate to pip from miniconda, fix #2199
  .github/workflows/unit-tests.yml
Labels: ci

#2219 Related to #2114: reformat docstrings in the 'engine' folder
  ignite/engine/__init__.py
  ignite/engine/deterministic.py
  ignite/engine/engine.py
  ignite/engine/events.py
  ignite/utils.py
Labels: module: engine, module: utils

#2227 fix(search): search on both website & docs
  docs/source/_templates/layout.html
Labels: docs

#2220 Related to 2114: reformat docstrings in the 'handlers' folder
  ignite/handlers/checkpoint.py
  ignite/handlers/early_stopping.py
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/stores.py
  ignite/handlers/terminate_on_nan.py
  ignite/handlers/time_limit.py
  ignite/handlers/time_profilers.py
  ignite/handlers/timing.py
Labels: module: handlers

#2221 Related to #2114: reformat docstrings in the 'metrics' folder
  ignite/metrics/accumulation.py
  ignite/metrics/accuracy.py
  ignite/metrics/classification_report.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/frequency.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/loss.py
  ignite/metrics/metric.py
  ignite/metrics/metrics_lambda.py
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
  ignite/metrics/precision.py
  ignite/metrics/psnr.py
  ignite/metrics/recall.py
  ignite/metrics/running_average.py
  ignite/metrics/ssim.py
Labels: module: metrics

#2222 fix #2114: reformat docstrings in the 'contrib' folder
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/contrib/metrics/average_precision.py
  ignite/contrib/metrics/gpu_info.py
Labels: module: contrib

#2234 simplify _expand_hostlist a little
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed
