Repository pytorch/ignite, pull requests merged in 2022-01, with the labels that each got.

#2402 Add doctest for LamdaStateScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2399 Add doctest for MultiStepScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2404 adding create_new to args StateParamScheduler
  ignite/handlers/state_param_scheduler.py
Labels: module: handlers

#2411 Removed install_latest_nvidia for hvd gpu tests
  .circleci/config.yml
Labels: ci

#2412 solves AttributeError: 'State' object has no attribute 'rng_states'
  ignite/engine/deterministic.py
  tests/ignite/engine/test_deterministic.py
Labels: module: engine

#2416 set master_addr master_port default values
  ignite/distributed/comp_models/native.py
  tests/ignite/distributed/comp_models/test_native.py
Labels: module: distributed

#2420 Update docs with torchrun instead of torch.distributed.launch #2415
  ignite/distributed/launcher.py
  ignite/distributed/utils.py
  tests/ignite/distributed/check_idist_parallel.py
  tests/ignite/distributed/test_launcher.py
Labels: module: distributed

#2424 Fixed config check issue with multi-node spawn method
  ignite/contrib/handlers/clearml_logger.py
  ignite/distributed/launcher.py
  tests/ignite/distributed/test_launcher.py
Labels: module: distributed

#2428 Updated config and dockerfiles
  docker/docker.cfg
  docker/hvd/Dockerfile.hvd-apex
  docker/hvd/Dockerfile.hvd-apex-nlp
  docker/hvd/Dockerfile.hvd-base
  docker/hvd/Dockerfile.hvd-nlp
  docker/main/Dockerfile.apex-nlp
  docker/main/Dockerfile.nlp
  docker/msdp/Dockerfile.msdp-apex-nlp
  docker/test_image.py
Labels: docker

#2430 Fix hvd test: gpu 1 to 2
  .circleci/config.yml
Labels: ci

#2431 Update pytorch.org/ignite site and reference pytorch-ignite.ai #2325
  docs/source/_templates/layout.html
  docs/source/_templates/theme_variables.jinja
Labels: docs

#2427 Disable link for clearml docs. Fixing failing linktest
  ignite/contrib/handlers/clearml_logger.py
Labels: module: contrib

#2435 Fix for issues related to mypy
  ignite/contrib/handlers/neptune_logger.py
  ignite/engine/deterministic.py
  ignite/handlers/checkpoint.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/time_profilers.py
  tests/run_code_style.sh
Labels: module: engine, module: handlers, module: contrib

#2439 Remove unnecessary code in BaseOutputHandler
  ignite/contrib/handlers/base_logger.py
Labels: module: contrib

#2442 Fix doctest for LR Scheduler
  ignite/handlers/param_scheduler.py
Labels: module: handlers
