Repository pytorch/ignite, pull requests merged in 2022-09, with the labels that each got.

#2682 Engine interrupt/continue feature as generator
  ignite/engine/engine.py
  ignite/engine/events.py
  ignite/handlers/time_profilers.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#2688 Updated doctests for Engine.interrupt() and Engine.terminate()
  docs/requirements.txt
  docs/source/conf.py
  ignite/engine/engine.py
  ignite/handlers/state_param_scheduler.py
Labels: docs, module: engine

#2691 Fix a little typo in engine docstring
  ignite/engine/engine.py
Labels: module: engine

#2690 Fixed issue when removing handlers on filtered events
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
  tests/ignite/engine/test_event_handlers.py
Labels: module: engine

#2681 Update median
  ignite/contrib/metrics/regression/_base.py
  ignite/contrib/metrics/regression/median_absolute_error.py
  ignite/contrib/metrics/regression/median_absolute_percentage_error.py
  ignite/contrib/metrics/regression/median_relative_absolute_error.py
  tests/ignite/contrib/metrics/regression/test__base.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_error.py
  tests/ignite/contrib/metrics/regression/test_median_absolute_percentage_error.py
  tests/ignite/contrib/metrics/regression/test_median_relative_absolute_error.py
Labels: module: contrib

#2696 Fixed doc test with median abs error
  ignite/contrib/metrics/regression/median_absolute_error.py
Labels: module: contrib

#2699 Fixed issue with interrupt then restart behaviour
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#2706 Fixed RL examples to work with new gym API
  examples/reinforcement_learning/actor_critic.py
  examples/reinforcement_learning/reinforce.py
Labels: examples

#2717 Fixed mypy failure on CI
  ignite/distributed/comp_models/native.py
Labels: module: distributed

#2718 Added missing typehints for run method of CIFAR10
  examples/contrib/cifar10/main.py
Labels: examples

#2711 Update `new_group` and test
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_horovod.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/distributed/utils/test_serial.py
  tests/ignite/distributed/utils/test_xla.py
Labels: module: distributed

#2719 To resolve warnings : `np` is deprecated
  ignite/distributed/comp_models/horovod.py
  tests/ignite/conftest.py
  tests/ignite/distributed/comp_models/test_horovod.py
Labels: module: distributed

#2721 Fix mypy errors
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/handlers/time_profilers.py
Labels: module: handlers, module: distributed

#2720 Add get_param method to ParamGroupScheduler
  ignite/handlers/param_scheduler.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: module: handlers

#2722 Fix typehint
  ignite/handlers/time_profilers.py
Labels: module: handlers

#2712 Modify all_reduce to take `group`
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_horovod.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/distributed/utils/test_xla.py
Labels: module: distributed

#2726 To resolve version fails from PR #2712 (all_reduce with group)
  ignite/distributed/comp_models/native.py
Labels: module: distributed
