Repository pytorch/ignite, pull requests merged in 2022-10, with the labels that each got.

#2715 Modify to all_gather takes `group`
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_horovod.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/distributed/utils/test_xla.py
Labels: module: distributed

#2729 To resolve version fails from PR #2715 (all_gather with group)
  ignite/distributed/comp_models/native.py
Labels: module: distributed

#2730 Gather native version
  tests/ignite/distributed/utils/__init__.py
Labels: module: distributed

#2727 add before and after events filter
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
Labels: module: engine

#2737 FIX: accumulation should not effect value of loss
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2741 Update for CI
  .github/workflows/gpu-tests.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#2704 Edit LRFinder to have more than one parameter
  ignite/handlers/lr_finder.py
  tests/ignite/handlers/test_lr_finder.py
Labels: module: handlers

#2750 Put `ModuleNotFoundError` instead of `RuntimeError` in proper places
  .gitignore
  examples/gan/dcgan.py
  examples/mnist/mnist_save_resume_engine.py
  examples/mnist/mnist_with_tensorboard.py
  examples/mnist/mnist_with_tensorboard_on_tpu.py
  examples/mnist/mnist_with_visdom.py
  examples/references/classification/imagenet/code/dataflow/vis.py
  examples/references/segmentation/pascal_voc2012/vis.py
  examples/reinforcement_learning/actor_critic.py
  examples/reinforcement_learning/reinforce.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/contrib/metrics/average_precision.py
  ignite/contrib/metrics/cohen_kappa.py
  ignite/contrib/metrics/gpu_info.py
  ignite/contrib/metrics/precision_recall_curve.py
  ignite/contrib/metrics/roc_auc.py
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/time_profilers.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/utils.py
  tests/ignite/contrib/conftest.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_mlflow_logger.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
  tests/ignite/contrib/handlers/test_polyaxon_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
  tests/ignite/contrib/handlers/test_tqdm_logger.py
  tests/ignite/contrib/handlers/test_visdom_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_cohen_kappa.py
  tests/ignite/contrib/metrics/test_gpu_info.py
  tests/ignite/contrib/metrics/test_precision_recall_curve.py
  tests/ignite/contrib/metrics/test_roc_auc.py
  tests/ignite/contrib/metrics/test_roc_curve.py
  tests/ignite/handlers/test_lr_finder.py
  tests/ignite/handlers/test_param_scheduler.py
  tests/ignite/handlers/test_state_param_scheduler.py
  tests/ignite/handlers/test_time_profilers.py
  tests/ignite/metrics/gan/test_fid.py
  tests/ignite/metrics/gan/test_utils.py
Labels: module: metrics, module: handlers, module: contrib, examples

#2757 Fix failing CI
  .github/workflows/gpu-tests.yml
  .github/workflows/unit-tests.yml
  ignite/contrib/handlers/neptune_logger.py
  requirements-dev.txt
Labels: ci

#2756 improve deterministic engine
  ignite/engine/deterministic.py
  ignite/utils.py
Labels: module: engine, module: utils

#2759 Fix failing GPU ci
  .circleci/config.yml
  .github/workflows/gpu-tests.yml
Labels: ci
