Repository pytorch/ignite, pull requests merged in 2022-03, with the labels that each got.

#2446 Added 3.10 python option to run unit tests for pth nightly
  .github/workflows/unit-tests.yml
Labels: ci

#2497 Updating FID docstring
  ignite/metrics/gan/fid.py
Labels: module: metrics

#2490 Updated precision_recall_curve.py
  ignite/contrib/metrics/precision_recall_curve.py
  ignite/metrics/epoch_metric.py
  tests/ignite/contrib/metrics/test_precision_recall_curve.py
Labels: module: contrib

#2507 Fixing inconsistencies related to the PR #2490
  ignite/contrib/metrics/precision_recall_curve.py
Labels: module: contrib

#2506 Fix GPU tests because of missing .cpu()
  examples/contrib/cifar10/utils.py
  ignite/contrib/metrics/precision_recall_curve.py
  tests/ignite/contrib/metrics/test_average_precision.py
  tests/ignite/contrib/metrics/test_precision_recall_curve.py
Labels: module: contrib

#2509 Update pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#2498 Add filename components in Checkpoint
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2512 Updates for the latest stable pytorch
  .circleci/config.yml
  docker/docker.cfg
Labels: ci

#2518 Fixed mypy issue in engine/events.py
  ignite/engine/events.py
Labels: module: engine

#2528 replace `torch.Tensor` by `torch.tensor` in docstring
  ignite/metrics/accumulation.py
  ignite/metrics/accuracy.py
  ignite/metrics/classification_report.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/epoch_metric.py
  ignite/metrics/fbeta.py
  ignite/metrics/mean_absolute_error.py
  ignite/metrics/mean_squared_error.py
  ignite/metrics/metrics_lambda.py
  ignite/metrics/multilabel_confusion_matrix.py
  ignite/metrics/recall.py
  ignite/metrics/root_mean_squared_error.py
  ignite/metrics/running_average.py
  ignite/metrics/top_k_categorical_accuracy.py
Labels: module: metrics
