Repository pytorch/ignite, pull requests merged in 2022-08, with the labels that each got.

#2639 Fixes flake8 issue
  ignite/metrics/psnr.py
Labels: module: metrics

#2641 Add save_on_rank argument to DiskSaver and Checkpoint
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2644 Deprecated and replaced Events.default_event_filter with None
  ignite/contrib/handlers/tqdm_logger.py
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
Labels: module: engine, module: contrib

#2650 Improved logging time taken message showing milliseconds
  examples/contrib/cifar10/main.py
  ignite/engine/engine.py
  ignite/engine/utils.py
Labels: module: engine, examples

#2652 Check torch version once in fid.py
  ignite/metrics/gan/fid.py
Labels: module: metrics

#2642 Feature add ZeRO support to Checkpoint in a distributed configuration
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2662 Fix typo
  ignite/engine/__init__.py
Labels: module: engine

#2651 Update to resolve CI warnings
  ignite/metrics/gan/utils.py
  tests/ignite/handlers/test_state_param_scheduler.py
  tests/ignite/metrics/test_classification_report.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_recall.py
Labels: module: metrics

#2668 Update circle-ci pytorch version to 1.12.1
  .circleci/config.yml
Labels: ci

#2645 Rewritten Engine's terminate and terminate_epoch logic
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#2671 Fix typo in engine run method
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
  tests/ignite/engine/test_engine_state_dict.py
Labels: module: engine

#2676 To resolve issue #2674 update version check
  ignite/metrics/gan/utils.py
  tests/ignite/handlers/test_state_param_scheduler.py
Labels: module: metrics

#2678 Fixing engine terminate behaviour when resumed
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#2680 Few minor fixes in Engine and Event
  ignite/engine/deterministic.py
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/engine/test_engine.py
Labels: module: engine
