Repository pytorch/ignite, pull requests merged in 2022-05, with the labels that each got.

#2555 Fix zero_grad place resulting in zero logs
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2559 Revert "Fix zero_grad place resulting in zero logs"
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2550 Feature add whitelist parameter issue 2548
  examples/contrib/mnist/mnist_with_clearml_logger.py
  examples/contrib/mnist/mnist_with_tensorboard_logger.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/visdom_logger.py
  tests/ignite/contrib/handlers/conftest.py
  tests/ignite/contrib/handlers/test_base_logger.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
Labels: module: contrib

#2563 Fix simplify ssim implementation
  ignite/metrics/ssim.py
  tests/ignite/metrics/test_ssim.py
Labels: module: metrics

#2564 Fix ssim run on cuda 2532
  ignite/metrics/ssim.py
  tests/ignite/metrics/test_ssim.py
Labels: module: metrics

#2584 Fix typos in TextCNN.ipynb
  examples/notebooks/TextCNN.ipynb
Labels: examples
