Repository pytorch/ignite, pull requests merged in 2022-12, with the labels that each got.

#2790 updated to latest version of actions for set-python and codecov
  .github/workflows/code-style.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/stable-release-pypi.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2793 Update tpu-tests.yml
  .github/workflows/tpu-tests.yml
Labels: ci

#2765 fix(search): bump @docsearch/js to 3.3 & add `appId` config
  docs/source/_templates/layout.html
Labels: docs

#2794 [BC-breaking] Align ssim with psnr, metric output is tensor
  ignite/metrics/ssim.py
Labels: module: metrics

#2798 Fixed issue with Horovod cpu tests
  .github/workflows/hvd-tests.yml
Labels: ci

#2797 Refactor PSNR and SSIM
  ignite/metrics/psnr.py
  ignite/metrics/ssim.py
  tests/ignite/conftest.py
  tests/ignite/metrics/test_psnr.py
  tests/ignite/metrics/test_ssim.py
Labels: module: metrics

#2432 [#2325] Remove old docs related at https://pytorch.org/ignite/
  docs/source/_templates/layout.html
  docs/source/_templates/theme_variables.jinja
  docs/source/about.rst
  docs/source/concepts.rst
  docs/source/engine.rst
  docs/source/examples.rst
  docs/source/faq.rst
  docs/source/governance.rst
  docs/source/index.rst
  docs/source/quickstart.rst
Labels: docs
