Repository pytorch/ignite, pull requests merged in 2022-06, with the labels that each got.

#2573 Improve precision recall metric issue 2571
  ignite/metrics/classification_report.py
  ignite/metrics/precision.py
  ignite/metrics/recall.py
  tests/ignite/metrics/test_classification_report.py
  tests/ignite/metrics/test_fbeta.py
  tests/ignite/metrics/test_metrics_lambda.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_recall.py
Labels: module: metrics

#2597 Update pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#2601 Change 'torch.Tensor's to 'torch.tensor'
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/metrics/average_precision.py
  ignite/contrib/metrics/cohen_kappa.py
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  ignite/contrib/metrics/regression/fractional_bias.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py
  ignite/contrib/metrics/regression/manhattan_distance.py
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  ignite/contrib/metrics/regression/mean_absolute_relative_error.py
  ignite/contrib/metrics/regression/mean_error.py
  ignite/contrib/metrics/regression/mean_normalized_bias.py
  ignite/contrib/metrics/regression/median_absolute_error.py
  ignite/contrib/metrics/regression/median_absolute_percentage_error.py
  ignite/contrib/metrics/regression/median_relative_absolute_error.py
  ignite/contrib/metrics/regression/r2_score.py
  ignite/contrib/metrics/regression/wave_hedges_distance.py
  ignite/metrics/accumulation.py
  ignite/metrics/mean_pairwise_distance.py
  ignite/metrics/precision.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_mlflow_logger.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
  tests/ignite/contrib/handlers/test_polyaxon_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
  tests/ignite/contrib/handlers/test_visdom_logger.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
  tests/ignite/metrics/gan/test_fid.py
  tests/ignite/metrics/test_loss.py
  tests/ignite/metrics/test_mean_pairwise_distance.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics, module: contrib

#2604 Change run_cpu_tests.sh and pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
  tests/run_cpu_tests.sh
Labels: ci

#2606 Added pytorch=1.10 to pytorch-version-tests
  .github/workflows/pytorch-version-tests.yml
  tests/ignite/distributed/test_auto.py
Labels: ci

#2592 Add a `handle_buffers` option for EMAHandler
  ignite/handlers/ema_handler.py
  tests/ignite/handlers/test_ema_handler.py
Labels: module: handlers

#2609 Fixing failing CI test, inception score
  tests/ignite/metrics/gan/test_inception_score.py
Labels: ci

#2611 Add Pytorch 1.11 to version-tests workflow
  .github/workflows/pytorch-version-tests.yml
Labels: ci
