Repository pytorch/ignite, pull requests merged in 2022-11, with the labels that each got.

#2760 Update unit-tests.yml to enable mypy checks on stable pytorch
  .github/workflows/unit-tests.yml
Labels: ci

#2778 Fix MyPy issue
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/engine/engine.py
  ignite/engine/events.py
  ignite/engine/utils.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/state_param_scheduler.py
  tests/ignite/contrib/handlers/test_wandb_logger.py
Labels: module: engine, module: handlers, module: contrib

#2780 Fixed torch LRScheduler issue and fixed CI
  .github/workflows/unit-tests.yml
  docs/source/conf.py
  ignite/contrib/engines/common.py
  ignite/handlers/param_scheduler.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: docs, module: handlers, module: contrib

#2776 Update Polyaxon_logger
  examples/references/classification/imagenet/code/utils/exp_tracking.py
  ignite/contrib/handlers/polyaxon_logger.py
Labels: module: contrib, examples

#2787 Fix Flake8 issues
  .pre-commit-config.yaml
  ignite/base/mixins.py
  ignite/contrib/engines/common.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/metrics/gpu_info.py
  ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  ignite/distributed/auto.py
  ignite/distributed/comp_models/__init__.py
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/distributed/utils.py
  ignite/engine/deterministic.py
  ignite/engine/engine.py
  ignite/engine/events.py
  ignite/handlers/checkpoint.py
  ignite/handlers/early_stopping.py
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
  ignite/handlers/state_param_scheduler.py
  ignite/handlers/stores.py
  ignite/handlers/time_profilers.py
  ignite/metrics/accuracy.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/epoch_metric.py
  ignite/metrics/loss.py
  ignite/metrics/metrics_lambda.py
  ignite/metrics/precision.py
  ignite/metrics/running_average.py
  ignite/metrics/ssim.py
Labels: module: engine, module: metrics, module: handlers, module: distributed, module: contrib, module: base

#2786 update set-output usage[WIP]
  .github/workflows/binaries-nightly-release.yml
  .github/workflows/code-style.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/stable-release-anaconda.yml
  .github/workflows/stable-release-pypi.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci
