Repository pytorch/ignite, pull requests merged in 2022-07, with the labels that each got.

#2616 Type fix
  .github/workflows/unit-tests.yml
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
Labels: module: handlers, ci

#2613 fix an error message of confusion_matrix.IoU
  ignite/metrics/confusion_matrix.py
  tests/ignite/metrics/test_confusion_matrix.py
Labels: module: metrics

#2542 Update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2629 Add ModelCheckpoint documentation example
  ignite/handlers/checkpoint.py
Labels: module: handlers
