Repository pytorch/ignite, pull requests merged in 2022-04, with the labels that each got.

#2523 Feature fixed weights hist handler issue 2328
  examples/contrib/mnist/mnist_with_tensorboard_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  tests/ignite/contrib/handlers/conftest.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
Labels: module: contrib

#2541 Changed ProgressBar init's type annotation to accept None
  ignite/contrib/handlers/tqdm_logger.py
Labels: module: contrib

#2547 Feature weights hist handler issue 2328 - Fix docstring
  ignite/contrib/handlers/tensorboard_logger.py
Labels: module: contrib

#2549 Removed warning in DDP if Metric.reset/update are not decorated.
  ignite/metrics/metric.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#2496 Feature/#2465 lr scheduler attach events
  ignite/contrib/engines/common.py
  ignite/handlers/param_scheduler.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: module: handlers, module: contrib
