Repository pytorch/ignite, pull requests merged in 2022-02, with the labels that each got.

#2450 [skip ci] dist.torch.launch -> torchrun
  .circleci/config.yml
  examples/contrib/cifar10/README.md
Labels: examples, ci

#2463 Fixed docs example for LRScheduler
  ignite/handlers/param_scheduler.py
Labels: module: handlers

#2469 Fix docs build
  docs/source/conf.py
Labels: docs

#2474 Added links to all the metric files
  docs/source/metrics.rst
  ignite/metrics/accumulation.py
  ignite/metrics/accuracy.py
  ignite/metrics/classification_report.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/epoch_metric.py
  ignite/metrics/fbeta.py
  ignite/metrics/frequency.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/loss.py
  ignite/metrics/mean_absolute_error.py
  ignite/metrics/mean_pairwise_distance.py
  ignite/metrics/mean_squared_error.py
  ignite/metrics/metric.py
  ignite/metrics/metrics_lambda.py
  ignite/metrics/multilabel_confusion_matrix.py
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
  ignite/metrics/precision.py
  ignite/metrics/psnr.py
  ignite/metrics/recall.py
  ignite/metrics/root_mean_squared_error.py
  ignite/metrics/running_average.py
  ignite/metrics/ssim.py
  ignite/metrics/top_k_categorical_accuracy.py
Labels: docs

#2485 Added pygame now required by gym and cartpole env to fix CI
  examples/reinforcement_learning/actor_critic.py
  examples/reinforcement_learning/reinforce.py
  requirements-dev.txt
Labels: examples, ci

#2483 Fix RunningAverage usage in doctest
  docs/source/defaults.rst
  ignite/metrics/running_average.py
Labels: docs, module: metrics

#2461 #2418 replace os.path by pathlib.Path
  examples/contrib/cifar10/utils.py
  examples/contrib/cifar10_qat/utils.py
  examples/fast_neural_style/neural_style.py
  examples/gan/dcgan.py
  examples/notebooks/FashionMNIST.ipynb
  ignite/contrib/handlers/clearml_logger.py
  ignite/handlers/checkpoint.py
  tests/ignite/conftest.py
  tests/ignite/contrib/conftest.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
  tests/ignite/contrib/handlers/test_mlflow_logger.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
  tests/ignite/engine/test_deterministic.py
  tests/ignite/engine/test_engine_state_dict.py
  tests/ignite/handlers/test_checkpoint.py
  tests/ignite/handlers/test_time_profilers.py
  tests/ignite/test_utils.py
Labels: module: handlers, examples

#2476 Fix `distutils` deprecation warning
  ignite/distributed/comp_models/native.py
  ignite/metrics/gan/fid.py
  requirements-dev.txt
  setup.py
  tests/ignite/contrib/handlers/test_tqdm_logger.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/engine/test_create_supervised.py
  tests/ignite/handlers/test_checkpoint.py
  tests/ignite/handlers/test_param_scheduler.py
  tests/ignite/test_utils.py
Labels: module: metrics, module: distributed

#2449 Add ReduceLROnPlateauScheduler feature
  docs/source/_static/img/schedulers/reduce_lr_on_plateau_example.png
  docs/source/defaults.rst
  docs/source/handlers.rst
  ignite/handlers/__init__.py
  ignite/handlers/param_scheduler.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: module: handlers, module: contrib

#2487 Fixed issue when loading a single non-nn.Module object
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#2486 Added missing args to ModelCheckpoint, parity with Checkpoint
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers
