Repository pytorch/ignite, pull requests merged in 2023-11, with the labels that each got.

#3128 Fixed code formatting error
  docker/test_image.py
Labels: docker

#3129 Fixed mypy issues
  ignite/contrib/engines/common.py
Labels: module: contrib

#3127 update citations to match the linked whitepaper
  examples/super_resolution/README.md
  ignite/metrics/gan/fid.py
Labels: module: metrics, examples

#3130 Fixing CI for pytorch version tests
  tests/ignite/metrics/test_accuracy.py
  tests/ignite/metrics/test_classification_report.py
  tests/ignite/metrics/test_metric.py
Labels: module: contrib

#3041 Add support for `MPS` Backend [without torch.amp.autocast ] + CI
  .github/workflows/mps-tests.yml
  .github/workflows/unit-tests.yml
  ignite/distributed/comp_models/base.py
  ignite/engine/__init__.py
  tests/ignite/distributed/comp_models/test_base.py
  tests/ignite/distributed/test_auto.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/distributed/utils/test_serial.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine, module: distributed, ci

#3148 Try to fix conda env issue on MPS tests
  .github/workflows/mps-tests.yml
Labels: ci
