Repository pytorch/ignite, pull requests merged in 2023-05, with the labels that each got.

#2935 Fix doctest and linkcheck issues on CI
  ignite/engine/engine.py
Labels: module: engine

#2934 Migrated gpu-tests ci to pytorch infra
  .github/workflows/gpu-tests.yml
Labels: ci

#2936 [skip ci] Updated version in docker
  docker/docker.cfg
Labels: docker

#2944 Updated docsearch info
  docs/source/_templates/layout.html
  docs/source/conf.py
Labels: docs

#2945 Updated facet filtering in docsearch
  docs/source/_templates/layout.html
Labels: docs

#2946 Some improvement in Precision metric docs
  ignite/metrics/metric.py
  ignite/metrics/precision.py
Labels: docs, module: metrics

#2950 Improve RunningAverage reset when epoch_bound=False
  ignite/metrics/running_average.py
  tests/ignite/metrics/test_running_average.py
Labels: module: metrics

#2938 Fixed parameter scheduler bug with `CosineAnnealingWarmRestarts`
  ignite/handlers/param_scheduler.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: module: handlers

#2960 Discord Threads for 'help wanted' issues
  .github/workflows/discord_issues.yml
Labels: ci
