Repository pytorch/ignite, pull requests merged in 2023-02, with the labels that each got.

#2840 Removed force_apply from ignore_mask_boundaries
  examples/references/segmentation/pascal_voc2012/dataflow.py
Labels: examples

#2836 Drop python 3.7 from CI
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/stable-release-pypi.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
  pyproject.toml
Labels: ci

#2849 Removed wrong docstrings for Metric update method's input type
  ignite/metrics/accuracy.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/epoch_metric.py
  ignite/metrics/fbeta.py
  ignite/metrics/mean_absolute_error.py
  ignite/metrics/mean_pairwise_distance.py
  ignite/metrics/mean_squared_error.py
  ignite/metrics/metric.py
  ignite/metrics/precision.py
  ignite/metrics/psnr.py
  ignite/metrics/recall.py
  ignite/metrics/root_mean_squared_error.py
  ignite/metrics/ssim.py
  ignite/metrics/top_k_categorical_accuracy.py
Labels: docs, module: metrics

#2852 Update Doctest for precision_recall_curve.py
  ignite/contrib/metrics/precision_recall_curve.py
Labels: module: contrib

#2854 Fix mypy Type Error
  ignite/contrib/handlers/tensorboard_logger.py
Labels: module: contrib

#2858 Issue#2853: Update once_event_filter in events.py
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
Labels: module: engine

#2860 Added every_before_after event filter
  ignite/engine/events.py
  tests/ignite/engine/test_custom_events.py
Labels: module: engine

#2863 Rotate timeline_and_event image for Concepts page
  docs/source/_static/img/concepts/timeline_and_events.png
Labels: docs

#2864 Switch from gym to gymnasium and refresh RL code
  examples/reinforcement_learning/README.md
  examples/reinforcement_learning/actor_critic.py
  examples/reinforcement_learning/reinforce.py
  requirements-dev.txt
Labels: examples

#2866 Issue#2862: Fixes warnings on GH actions
  .github/workflows/docs.yml
Labels: ci

#2802 Add distributed test to `RocCurve` metric
  ignite/contrib/metrics/roc_auc.py
  tests/ignite/contrib/metrics/test_roc_curve.py
Labels: module: contrib

#2868 Update gh actions on push
  .github/workflows/code-style.yml
  .github/workflows/docs.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2867 Fixes gpu tests failures in RocCurve by 2802
  ignite/contrib/metrics/roc_auc.py
  tests/ignite/contrib/metrics/test_roc_curve.py
Labels: module: contrib

#2848 Add model_transform in create supervised trainer
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2803 Fix `sync_all_reduce` to consider update->compute->update case
  ignite/metrics/metric.py
  ignite/metrics/precision.py
  tests/ignite/metrics/test_accuracy.py
  tests/ignite/metrics/test_loss.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#2872 Reenable unit tests on master and X.Y.Z
  .github/workflows/hvd-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#2877 Update docker images, versions and recipee
  docker/README.md
  docker/hvd/Dockerfile.hvd-apex
  docker/hvd/Dockerfile.hvd-base
  docker/main/Dockerfile.apex
  docker/msdp/Dockerfile.msdp-apex
  docker/push_all.sh
Labels: docker

#2879 Update sphinx version to 5.0.0
  docs/requirements.txt
Labels: docs

#2873 Updated cuda version to 11.7 for gpu tests
  .github/workflows/gpu-tests.yml
Labels: ci

#2881 Update the Neptune logger
  ignite/contrib/handlers/neptune_logger.py
  requirements-dev.txt
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/contrib/handlers/test_neptune_logger.py
Labels: module: contrib
