Repository pytorch/ignite, pull requests merged in 2023-09, with the labels that each got.

#3059 Fix attribute error in `Checkpoint::reload_objects` when `save_handler` is not of type `DiskSaver`
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: module: handlers

#3063 Fix a tiny typo in `ProgressBar`'s docstring
  ignite/contrib/handlers/tqdm_logger.py
Labels: module: contrib

#3045 Added compatibility with uint8 to SSIM metric
  ignite/metrics/ssim.py
  tests/ignite/metrics/test_ssim.py
Labels: help wanted, module: metrics

#3069 Use class to organize distributed tests in modules
  ignite/engine/__init__.py
  tests/ignite/conftest.py
  tests/ignite/metrics/test_precision.py
  tests/ignite/metrics/test_psnr.py
  tests/ignite/metrics/test_running_average.py
  tests/ignite/metrics/test_ssim.py
Labels: module: engine

#3064 feat: Added warmup each cycle feature in CyclicalScheduler
  ignite/handlers/param_scheduler.py
  tests/ignite/handlers/test_param_scheduler.py
Labels: module: handlers

#3072 Replaced version in all yml files with actions/checkout@v4
  .github/workflows/binaries-nightly-release.yml
  .github/workflows/code-style.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/stable-release-anaconda.yml
  .github/workflows/stable-release-pypi.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#3075 Use actions/checkout@v3 on self-hosted runners
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
Labels: ci
