Repository pytorch/ignite, pull requests merged in 2023-01, with the labels that each got.

#2807 Update @docsearch/css
  docs/source/_templates/_static/css/ignite_theme.css
  docs/source/conf.py
Labels: docs

#2820 Fix a possible bug in `distributed.comp_models.native.py` causing hang in Pytorch nightly
  ignite/distributed/comp_models/native.py
Labels: module: distributed

#2822 Refactored a bit test_launcher.py and added pth-nightly GPU tests
  .github/workflows/gpu-tests.yml
  tests/ignite/distributed/test_launcher.py
Labels: ci

#2805 Fix a typo in `distributed.utils::broadcast`
  ignite/distributed/utils.py
Labels: module: distributed

#2826 Made the APIs of the Tensorboard Logger and WandB Logger same
  ignite/contrib/handlers/tensorboard_logger.py
  tests/ignite/contrib/handlers/test_tensorboard_logger.py
Labels: module: contrib
