Repository pytorch/ignite, pull requests merged in 2023-07, with the labels that each got.

#3007 Removed circle-ci
  .circleci/config.yml
  .circleci/trigger_if_modified.sh
  .github/pr-labeler-config.yml
  .github/workflows/code-style.yml
  .github/workflows/docker-publish.yml
  .github/workflows/stable-release-pypi.yml
  .github/workflows/trigger_circle_ci.py
  CONTRIBUTING.md
  README.md
Labels: ci

#3009 Discord Workflow for Issues and pull-requests(non-maintainers-only)
  .github/workflows/discord_issues.yml
Labels: ci

#3010 Fixed failing linkcheck CI job
  docs/Makefile
  docs/source/conf.py
  docs/source/engine.rst
  ignite/contrib/handlers/visdom_logger.py
  ignite/distributed/auto.py
  ignite/distributed/utils.py
Labels: docs, module: contrib

#3013 Fix a tiny typo regarding `save_handler` type in `Checkpoint` class
  ignite/handlers/checkpoint.py
Labels: module: handlers
