Repository pytorch/ignite, pull requests merged in 2023-06, with the labels that each got.

#2959 Improve collective ops on numeric input
  ignite/distributed/comp_models/base.py
Labels: module: distributed

#2947 Fix a bug in `native::_do_all_gather` related to `group`
  ignite/distributed/comp_models/native.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
Labels: module: distributed

#2971 Fixed mypy failure with DistributedSampler
  ignite/contrib/engines/common.py
Labels: module: contrib

#2967 [Follow-up] Account for BC in PR#2947
  ignite/distributed/comp_models/native.py
Labels: module: distributed

#2976 Fixed docs issue in ReduceLROnPlateauScheduler
  ignite/handlers/param_scheduler.py
Labels: module: handlers

#2958 Add new metric usages and update RunningAverage accordingly
  docs/source/metrics.rst
  ignite/contrib/engines/common.py
  ignite/metrics/metric.py
  ignite/metrics/running_average.py
  tests/ignite/metrics/test_metric.py
  tests/ignite/metrics/test_running_average.py
Labels: docs, module: metrics, module: distributed, module: contrib
