Repository pytorch/ignite, pull requests merged in 2023-03, with the labels that each got.

#2887 Fixed 'Open in Colab' button + highlighted packages in text
  examples/notebooks/TextCNN.ipynb
Labels: examples

#2886 Update NeptuneLogger docstring and example script
  examples/contrib/mnist/mnist_with_neptune_logger.py
  ignite/contrib/handlers/neptune_logger.py
Labels: module: contrib, examples

#2890 Update pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci

#2896 Reintroduced model_transform into supervised_evaluation
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine

#2885 Add the example of super_resolution
  examples/super_resolution/README.md
  examples/super_resolution/main.py
  examples/super_resolution/model.py
  examples/super_resolution/super_resolve.py
Labels: examples

#2900 [fix] make sure neptune saves the checkpoint
  ignite/contrib/handlers/neptune_logger.py
Labels: module: contrib

#2899 Add CI for Super Resolution example and tqdm bar to the example
  .github/workflows/unit-tests.yml
  examples/super_resolution/README.md
  examples/super_resolution/images/bicubic_image_cifar.png
  examples/super_resolution/images/input_cifar.png
  examples/super_resolution/images/out_cifar.png
  examples/super_resolution/main.py
Labels: examples, ci

#2898 Create get_clearml_task for Ignite.contrib.handlers.ClearMLLogger
  ignite/contrib/handlers/clearml_logger.py
  tests/ignite/contrib/handlers/test_clearml_logger.py
Labels: module: contrib
