Repository pytorch/ignite, pull requests merged in 2023-08, with the labels that each got.

#3017 Fix typo
  ignite/metrics/ssim.py
Labels: module: metrics

#3018 Fix a mypy issue related to torch optimizer step
  ignite/distributed/auto.py
  tests/ignite/handlers/test_lr_finder.py
Labels: module: distributed

#3001 Make metrics serializable
  docs/source/engine.rst
  ignite/handlers/checkpoint.py
  ignite/metrics/accumulation.py
  ignite/metrics/accuracy.py
  ignite/metrics/confusion_matrix.py
  ignite/metrics/epoch_metric.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/loss.py
  ignite/metrics/mean_absolute_error.py
  ignite/metrics/mean_pairwise_distance.py
  ignite/metrics/mean_squared_error.py
  ignite/metrics/metric.py
  ignite/metrics/multilabel_confusion_matrix.py
  ignite/metrics/nlp/bleu.py
  ignite/metrics/nlp/rouge.py
  ignite/metrics/precision.py
  ignite/metrics/psnr.py
  ignite/metrics/running_average.py
  ignite/metrics/ssim.py
  ignite/metrics/top_k_categorical_accuracy.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#3028 Moved examples/contrib into examples
  .github/workflows/gpu-tests.yml
  README.md
  assets/tldr/teaser.ipynb
  assets/tldr/teaser.py
  docs/source/conf.py
  docs/source/contrib/handlers.rst
  docs/source/distributed.rst
  docs/source/engine.rst
  examples/cifar10/.gitignore
  examples/cifar10/README.md
  examples/cifar10/main.py
  examples/cifar10/requirements.txt
  examples/cifar10/utils.py
  examples/cifar100_amp_benchmark/benchmark_fp32.py
  examples/cifar100_amp_benchmark/benchmark_nvidia_apex.py
  examples/cifar100_amp_benchmark/benchmark_torch_cuda_amp.py
  examples/cifar100_amp_benchmark/utils.py
  examples/cifar10_qat/.gitignore
  examples/cifar10_qat/README.md
  examples/cifar10_qat/main.py
  examples/cifar10_qat/pact.py
  examples/cifar10_qat/utils.py
  examples/contrib/mnist/README.md
  examples/mnist/README.md
  examples/mnist/mnist_with_clearml_logger.py
  examples/mnist/mnist_with_neptune_logger.py
  examples/mnist/mnist_with_tensorboard_logger.py
  examples/mnist/mnist_with_tqdm_logger.py
  examples/mnist/mnist_with_visdom_logger.py
  examples/mnist/mnist_with_wandb_logger.py
  examples/notebooks/Cifar100_bench_amp.ipynb
  examples/transformers/README.md
  examples/transformers/dataset.py
  examples/transformers/main.py
  examples/transformers/model.py
  examples/transformers/requirements.txt
  examples/transformers/utils.py
Labels: docs, examples, ci

#3029 Removed Trains BC from examples
  examples/cifar10/main.py
  examples/cifar10_qat/main.py
  examples/transformers/main.py
Labels: examples

#3034 Fix: change the dtype of self._kernel when input args have a different dtype
  ignite/metrics/ssim.py
  tests/ignite/metrics/test_ssim.py
Labels: module: metrics

#2993 Add support for `MPS` Backend [without torch.amp.autocast ]
  .github/workflows/mps-tests.yml
  .github/workflows/unit-tests.yml
  ignite/distributed/comp_models/base.py
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine, module: distributed

#3040 skip mkl install on non-x86 arch
  .github/workflows/pytorch-version-tests.yml
  requirements-dev.txt
Labels: ci

#3042 perf: replace _uniform method to remove iteration on tensor
  ignite/metrics/ssim.py
Labels: module: metrics

#3044 refactor: remove redundant line as .reset() is call in Metrics().__init()
  ignite/metrics/ssim.py
Labels: module: metrics

#3046 Fix Discord PR extension workflow output
  .github/workflows/discord_issues.yml
  .github/workflows/discord_pull_requests.yaml
Labels: help wanted, ci

#3051 Fix Discord PR extension workflow output (#3046)
  .github/workflows/discord_issues.yml
  .github/workflows/discord_pull_requests.yaml
Labels: help wanted
