Repository pytorch/ignite, pull requests merged in 2023-04, with the labels that each got.

#2907 Fix error on importing `Events` in python3.11
  ignite/engine/events.py
Labels: module: engine

#2924 Update config.yml
  .circleci/config.yml
Labels: ci

#2914 fixed output_list | now it has only 5 elements instead of 5*batchsize
  ignite/metrics/ssim.py
Labels: module: metrics

#2929 Added score_sign to add_early_stopping_by_val_score
  ignite/contrib/engines/common.py
  tests/ignite/contrib/engines/test_common.py
Labels: module: contrib

#2926 Added `idist.one_rank_first` method
  examples/contrib/cifar10/main.py
  examples/contrib/cifar10_qat/main.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/test_native.py
Labels: module: distributed
