Repository pytorch/ignite, pull requests merged in 2024-12, with the labels that each got.

#3301 Fixed GPU tests exec scripts and failing metrics
  .github/workflows/gpu-tests.yml
  ignite/metrics/clustering/calinski_harabasz_score.py
  ignite/metrics/clustering/davies_bouldin_score.py
  ignite/metrics/clustering/silhouette_score.py
  ignite/metrics/regression/kendall_correlation.py
  ignite/metrics/regression/spearman_correlation.py
  tests/common_test_functionality.sh
  tests/ignite/metrics/test_classification_report.py
  tests/ignite/metrics/test_hsic.py
  tests/run_cpu_tests.sh
  tests/run_gpu_tests.sh
Labels: module: metrics, ci

#3309 Give the option to terminate the engine without firing Events.COMPLET…
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#3313 Allow to terminate an epoch without firing `Events.EPOCH_COMPLETED`
  ignite/engine/engine.py
  ignite/engine/events.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#3307 Fix deprecated statement
  examples/cifar10/main.py
  examples/cifar100_amp_benchmark/benchmark_torch_cuda_amp.py
  examples/cifar10_qat/main.py
  examples/notebooks/CycleGAN_with_torch_cuda_amp.ipynb
  examples/references/classification/imagenet/main.py
  examples/references/segmentation/pascal_voc2012/main.py
  examples/transformers/main.py
  ignite/engine/__init__.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: engine, module: metrics, examples

#3315 Update pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
Labels: ci
