Repository pytorch/ignite, pull requests merged in 2024-09, with the labels that each got.

#3279 Fixed mypy failure on the CI
  ignite/handlers/wandb_logger.py
Labels: module: handlers

#3278 Temporary pinned mlflow version to fix the failing CI
  ignite/handlers/wandb_logger.py
  requirements-dev.txt
Labels: module: handlers, ci

#3276 Add rank correlation metrics
  docs/source/metrics.rst
  ignite/metrics/regression/__init__.py
  ignite/metrics/regression/kendall_correlation.py
  ignite/metrics/regression/spearman_correlation.py
  tests/ignite/metrics/regression/test_kendall_correlation.py
  tests/ignite/metrics/regression/test_spearman_correlation.py
Labels: docs, module: metrics

#3281 Helper function `all_gather_tensors_with_shapes()`
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_horovod.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/distributed/utils/test_serial.py
  tests/ignite/distributed/utils/test_xla.py
Labels: module: distributed

#3283 Fix mypy issue with wandb.finish()
  ignite/handlers/wandb_logger.py
Labels: module: handlers

#3280 To fix #3277
  ignite/handlers/mlflow_logger.py
  requirements-dev.txt
Labels: module: handlers

#3284 Modify docstring and argument for rank correlation metrics
  ignite/metrics/regression/kendall_correlation.py
  ignite/metrics/regression/spearman_correlation.py
Labels: module: metrics

#3285 Use the default runner type
  .github/workflows/docker-build.yml
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
Labels: ci

#3287 [CI] Fixed failing linkcheck, w&b init
  .github/workflows/hvd-tests.yml
  .github/workflows/install_docs_deps.sh
  .github/workflows/unit-tests.yml
  ignite/handlers/wandb_logger.py
Labels: module: handlers, ci

#3282 add HSIC metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/hsic.py
  tests/ignite/metrics/test_hsic.py
Labels: docs, module: metrics
