Repository pytorch/ignite, pull requests merged in 2024-08, with the labels that each got.

#3266 Add `MetricGroup` feature
  docs/source/metrics.rst
  ignite/engine/engine.py
  ignite/metrics/__init__.py
  ignite/metrics/metric_group.py
  tests/ignite/metrics/test_metric_group.py
Labels: docs, module: engine, module: metrics

#3273 Fix WandBLogger init
  ignite/handlers/wandb_logger.py
Labels: module: handlers

#3275 Updated pytorch versions in CI and docker
  .github/workflows/pytorch-version-tests.yml
  docker/docker.cfg
  docker/hvd/Dockerfile.hvd-apex-nlp
  docker/hvd/Dockerfile.hvd-nlp
  docker/main/Dockerfile.apex-nlp
  docker/main/Dockerfile.nlp
  docker/test_image.py
Labels: docker, ci
