Repository pytorch/ignite, pull requests merged in 2024-05, with the labels that each got.

#3243 Add MaximumMeanDiscrepancy metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/maximum_mean_discrepancy.py
  tests/ignite/metrics/test_maximum_mean_discrepancy.py
Labels: docs, module: metrics

#3240 setup_logger: add optional arg `encoding` for FileHandler
  ignite/utils.py
  tests/ignite/test_utils.py
Labels: module: utils

#3245 Fix error of doc test for MaximumMeanDiscrepancy metric
  ignite/metrics/maximum_mean_discrepancy.py
Labels: module: metrics

#3248 fix some mypy issues
  ignite/handlers/lr_finder.py
  ignite/handlers/param_scheduler.py
Labels: module: handlers

#3249 Fix mps not functional
  tests/ignite/__init__.py
  tests/ignite/distributed/test_auto.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: handlers, ci

#3250 Fixed linkcheck
  docs/source/conf.py
Labels: docs

#3229 Retry tests
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
  tests/common-test-functionality.sh
  tests/ignite/conftest.py
  tests/run_cpu_tests.sh
  tests/run_gpu_tests.sh
  tests/run_multinode_tests_in_docker.sh
  tests/run_tpu_tests.sh
Labels: module: metrics, module: handlers, ci

#3251 downgrade retry action for gpu tests
  .github/workflows/gpu-tests.yml
Labels: ci

#3252 downgrade retry action for gpu tests (#3251)
  .github/workflows/gpu-tests.yml
Labels: ci

#3254 Fix scheduled tests
  .github/workflows/pytorch-version-tests.yml
  ignite/distributed/comp_models/base.py
  requirements-dev.txt
  tests/common-test-functionality.sh
  tests/ignite/distributed/comp_models/test_base.py
  tests/ignite/distributed/test_auto.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/distributed/utils/test_serial.py
  tests/ignite/engine/test_create_supervised.py
Labels: module: distributed, ci
