Repository pytorch/ignite, pull requests merged in 2024-03, with the labels that each got.

#3205 check using gha labeler@v5
  .github/pr-labeler-config.yml
  .github/workflows/triage.yml
Labels: ci

#3203 Add cosine similarity metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/cosine_similarity.py
  tests/ignite/metrics/test_cosine_similarity.py
Labels: docs, module: metrics

#3213 Fix error when testing xla in cosine similarity metric
  tests/ignite/metrics/test_cosine_similarity.py
Labels: docs, module: metrics

#3209 Updated code formatting tools verions and reformatted the code
  .pre-commit-config.yaml
  examples/gan/dcgan.py
  examples/mnist/mnist_with_clearml_logger.py
  examples/mnist/mnist_with_neptune_logger.py
  examples/mnist/mnist_with_tensorboard_logger.py
  examples/mnist/mnist_with_visdom_logger.py
  examples/mnist/mnist_with_wandb_logger.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/lr_finder.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/param_scheduler.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/time_profilers.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/contrib/metrics/regression/canberra_metric.py
  ignite/contrib/metrics/regression/fractional_absolute_error.py
  ignite/contrib/metrics/regression/fractional_bias.py
  ignite/contrib/metrics/regression/geometric_mean_absolute_error.py
  ignite/contrib/metrics/regression/geometric_mean_relative_absolute_error.py
  ignite/contrib/metrics/regression/manhattan_distance.py
  ignite/contrib/metrics/regression/maximum_absolute_error.py
  ignite/contrib/metrics/regression/mean_absolute_relative_error.py
  ignite/contrib/metrics/regression/mean_error.py
  ignite/contrib/metrics/regression/mean_normalized_bias.py
  ignite/contrib/metrics/regression/r2_score.py
  ignite/contrib/metrics/regression/wave_hedges_distance.py
  tests/ignite/engine/test_create_supervised.py
  tests/run_code_style.bat
  tests/run_code_style.sh
Labels: module: contrib, examples

#3204 Move contrib.handlers
  docs/source/contrib/handlers.rst
  docs/source/handlers.rst
  ignite/contrib/engines/common.py
  ignite/contrib/handlers/__init__.py
  ignite/contrib/handlers/base_logger.py
  ignite/contrib/handlers/clearml_logger.py
  ignite/contrib/handlers/mlflow_logger.py
  ignite/contrib/handlers/neptune_logger.py
  ignite/contrib/handlers/polyaxon_logger.py
  ignite/contrib/handlers/tensorboard_logger.py
  ignite/contrib/handlers/tqdm_logger.py
  ignite/contrib/handlers/visdom_logger.py
  ignite/contrib/handlers/wandb_logger.py
  ignite/engine/__init__.py
  ignite/handlers/__init__.py
  ignite/handlers/base_logger.py
  ignite/handlers/clearml_logger.py
  ignite/handlers/mlflow_logger.py
  ignite/handlers/neptune_logger.py
  ignite/handlers/polyaxon_logger.py
  ignite/handlers/tensorboard_logger.py
  ignite/handlers/tqdm_logger.py
  ignite/handlers/utils.py
  ignite/handlers/visdom_logger.py
  ignite/handlers/wandb_logger.py
  tests/ignite/contrib/conftest.py
  tests/ignite/contrib/engines/test_common.py
  tests/ignite/contrib/handlers/__init__.py
  tests/ignite/contrib/handlers/conftest.py
  tests/ignite/contrib/handlers/test_warnings_of_deprecation.py
  tests/ignite/handlers/__init__.py
  tests/ignite/handlers/conftest.py
  tests/ignite/handlers/test_base_logger.py
  tests/ignite/handlers/test_clearml_logger.py
  tests/ignite/handlers/test_lr_finder.py
  tests/ignite/handlers/test_mlflow_logger.py
  tests/ignite/handlers/test_neptune_logger.py
  tests/ignite/handlers/test_param_scheduler.py
  tests/ignite/handlers/test_polyaxon_logger.py
  tests/ignite/handlers/test_tensorboard_logger.py
  tests/ignite/handlers/test_tqdm_logger.py
  tests/ignite/handlers/test_visdom_logger.py
  tests/ignite/handlers/test_wandb_logger.py
Labels: docs, module: engine, module: handlers, module: contrib, examples

#3210 Add Entropy metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/entropy.py
  tests/ignite/metrics/test_entropy.py
Labels: docs, module: metrics

#3217 Fixed issue when DATALOADER_STOP_ITERATION event is triggered when engine.run(data=None, ...)
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#3200 Updated pytorch version in docker and older versions tests
  .github/workflows/pytorch-version-tests.yml
  docker/docker.cfg
Labels: docker, ci

#3219 Added python 3.12 dependency in CI
  .github/workflows/unit-tests.yml
  examples/mnist/mnist.py
  requirements-dev.txt
Labels: examples, ci

#3215 add fbresearch_logger.py
  docs/source/handlers.rst
  ignite/handlers/fbresearch_logger.py
  tests/ignite/handlers/test_fbresearch_logger.py
Labels: docs, module: handlers

#3222 Fixed FID docstring and use latest pytorch_fid package
  ignite/metrics/gan/fid.py
  requirements-dev.txt
Labels: module: metrics

#3212 Add PearsonCorrelation metric
  docs/source/metrics.rst
  ignite/metrics/regression/__init__.py
  ignite/metrics/regression/pearson_correlation.py
  tests/ignite/metrics/regression/test_pearson_correlation.py
Labels: docs, module: metrics, module: contrib

#3223 Fix device compatibility for PearsonCorrelation metric
  ignite/metrics/regression/pearson_correlation.py
Labels: docs, module: metrics
