Repository pytorch/ignite, pull requests merged in 2024-04, with the labels that each got.

#3226 Removed mkl from dev deps
  .github/workflows/tpu-tests.yml
  requirements-dev.txt
Labels: ci

#3227 Updated pytorch version in docker cfg to 2.2.2-cuda12.1-cudnn8
  docker/docker.cfg
Labels: docker

#3228 fix misspecified version reference
  docs/source/contrib/handlers.rst
  docs/source/contrib/metrics.rst
  ignite/engine/__init__.py
Labels: docs, module: engine

#3230 Add MutualInformation Metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/entropy.py
  ignite/metrics/mutual_information.py
  tests/ignite/metrics/test_mutual_information.py
Labels: docs, module: metrics

#3232 Add divergence metrics
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/js_divergence.py
  ignite/metrics/kl_divergence.py
  tests/ignite/metrics/test_js_divergence.py
  tests/ignite/metrics/test_kl_divergence.py
Labels: docs, module: metrics

#3236 Fix error in old PyTorch for KL and JS divergence
  ignite/metrics/js_divergence.py
  ignite/metrics/kl_divergence.py
Labels: module: metrics

#3242 Make testing improvements
  ignite/metrics/frequency.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  tests/ignite/conftest.py
  tests/ignite/distributed/comp_models/test_native.py
  tests/ignite/distributed/test_launcher.py
  tests/ignite/handlers/conftest.py
  tests/ignite/handlers/test_lr_finder.py
  tests/ignite/handlers/test_tqdm_logger.py
  tests/ignite/handlers/test_visdom_logger.py
  tests/ignite/metrics/nlp/test_rouge.py
Labels: module: metrics
