Repository pytorch/ignite, pull requests merged in 2024-10, with the labels that each got.

#3288 Drop python 3.8 in the CI
  .github/workflows/code-style.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/mps-tests.yml
  .github/workflows/pytorch-version-tests.yml
  .github/workflows/unit-tests.yml
  CONTRIBUTING.md
  ignite/handlers/neptune_logger.py
Labels: module: handlers, ci

#3289 Fix pytorch versions ci
  .github/workflows/pytorch-version-tests.yml
  ignite/metrics/hsic.py
  tests/ignite/metrics/test_hsic.py
Labels: module: metrics, ci

#3291 Modify docstring for rank correlation metrics
  ignite/metrics/regression/kendall_correlation.py
  ignite/metrics/regression/spearman_correlation.py
Labels: module: metrics

#3292 simplify imports of metric functions
  ignite/metrics/cohen_kappa.py
  ignite/metrics/regression/spearman_correlation.py
Labels: module: metrics

#3293 Update import style for PrecisionRecallCurve metric
  ignite/metrics/precision_recall_curve.py
  tests/ignite/metrics/test_precision_recall_curve.py
Labels: module: metrics

#3296 Fixed mypy failures on the CI
  ignite/handlers/time_profilers.py
  ignite/metrics/fbeta.py
Labels: module: metrics, module: handlers

#3290 Add clustering metrics
  docs/source/defaults.rst
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/clustering/__init__.py
  ignite/metrics/clustering/_base.py
  ignite/metrics/clustering/calinski_harabasz_score.py
  ignite/metrics/clustering/davies_bouldin_score.py
  ignite/metrics/clustering/silhouette_score.py
  tests/ignite/metrics/clustering/__init__.py
  tests/ignite/metrics/clustering/test_calinski_harabasz_score.py
  tests/ignite/metrics/clustering/test_davies_bouldin_score.py
  tests/ignite/metrics/clustering/test_silhouette_score.py
Labels: docs, module: metrics
