Repository pytorch/ignite, pull requests merged in 2025-03, with the labels that each got.

#3340 Fix group as list of ints in torch dist collective ops
  ignite/distributed/comp_models/native.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/metrics/test_mean_average_precision.py
  tests/run_cpu_tests.sh
Labels: module: distributed

#3339 Add `_rank_not_in_group` to idist
  ignite/distributed/comp_models/base.py
  ignite/distributed/comp_models/horovod.py
  ignite/distributed/comp_models/native.py
  ignite/distributed/comp_models/xla.py
  ignite/distributed/utils.py
  tests/ignite/distributed/utils/__init__.py
  tests/ignite/distributed/utils/test_horovod.py
  tests/ignite/distributed/utils/test_native.py
  tests/ignite/distributed/utils/test_serial.py
  tests/ignite/distributed/utils/test_xla.py
Labels: module: distributed

#3347 Run hvd tests without xdist
  .github/workflows/hvd-tests.yml
  tests/ignite/distributed/utils/test_horovod.py
  tests/run_cpu_tests.sh
Labels: ci

#3349 Updated gpu-tests CI
  .github/workflows/gpu-tests.yml
Labels: ci

#3345 Add SSIM for 3D tensors
  ignite/metrics/ssim.py
  tests/ignite/metrics/test_ssim.py
Labels: enhancement, docs, module: metrics

#3369 Added support for logging dicts/iterables of metrics
  ignite/handlers/base_logger.py
  ignite/handlers/clearml_logger.py
  ignite/handlers/mlflow_logger.py
  ignite/handlers/neptune_logger.py
  ignite/handlers/polyaxon_logger.py
  ignite/handlers/tensorboard_logger.py
  ignite/handlers/tqdm_logger.py
  ignite/handlers/visdom_logger.py
  ignite/handlers/wandb_logger.py
  tests/ignite/handlers/test_base_logger.py
  tests/ignite/handlers/test_clearml_logger.py
  tests/ignite/handlers/test_mlflow_logger.py
  tests/ignite/handlers/test_neptune_logger.py
  tests/ignite/handlers/test_polyaxon_logger.py
  tests/ignite/handlers/test_tensorboard_logger.py
  tests/ignite/handlers/test_visdom_logger.py
  tests/ignite/handlers/test_wandb_logger.py
Labels: module: handlers
