Repository pytorch/ignite, pull requests merged in 2025-02, with the labels that each got.

#3331 Fixed failing doctest and linkcheck CI jobs
  docs/source/conf.py
  ignite/metrics/clustering/calinski_harabasz_score.py
Labels: docs, module: metrics

#3329 Updated pytorch version in docker and pytorch-version-tests.yml
  .github/workflows/pytorch-version-tests.yml
  docker/docker.cfg
Labels: docker, ci

#3332 Fix a typo in the documentation
  docs/source/contrib/engines.rst
  ignite/contrib/engines/tbptt.py
Labels: docs, module: contrib

#2901 COCO mAP metric
  docs/source/metrics.rst
  ignite/metrics/__init__.py
  ignite/metrics/mean_average_precision.py
  ignite/metrics/metric.py
  ignite/metrics/metric_group.py
  ignite/metrics/vision/__init__.py
  ignite/metrics/vision/object_detection_average_precision_recall.py
  requirements-dev.txt
  tests/ignite/metrics/test_mean_average_precision.py
  tests/ignite/metrics/vision/__init__.py
  tests/ignite/metrics/vision/test_object_detection_map.py
Labels: docs, module: metrics, module: distributed

#3334 Use f32 for metrics on mps
  .github/workflows/mps-tests.yml
  ignite/metrics/accumulation.py
  ignite/metrics/gan/fid.py
  ignite/metrics/gan/inception_score.py
  ignite/metrics/gan/utils.py
  ignite/metrics/metric.py
  ignite/metrics/multilabel_confusion_matrix.py
  ignite/metrics/precision.py
  ignite/metrics/psnr.py
  ignite/metrics/ssim.py
  tests/ignite/conftest.py
  tests/ignite/metrics/gan/test_fid.py
  tests/ignite/metrics/gan/test_inception_score.py
  tests/ignite/metrics/test_average_precision.py
  tests/ignite/metrics/test_ssim.py
Labels: module: metrics, ci
