Repository pytorch/ignite, pull requests merged in 2025-04, with the labels that each got.

#3373 At end of epoch on an IterableDataset ensure engine.state.output rema…
  ignite/engine/engine.py
  tests/ignite/engine/test_engine.py
Labels: module: engine

#3371 Add output_transform type check in Metric class (#3352)
  ignite/metrics/metric.py
  tests/ignite/metrics/test_metric.py
Labels: module: metrics

#3378 removes deprecated save_as_state_dict param that was raising an error. fixes #3377
  examples/notebooks/FashionMNIST.ipynb
Labels: examples

#3386 [skip ci] Added merge_group to update unit-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#3388 [skip ci] Fixed a typo in docs
  docs/source/metrics.rst
Labels: docs

#3360 Test fbeta available device #3335
  ignite/metrics/fbeta.py
  tests/ignite/metrics/test_fbeta.py
Labels: module: metrics

#3379 adds available_device to RocCurve #3335
  ignite/metrics/roc_auc.py
  tests/ignite/metrics/test_roc_curve.py
Labels: docs, module: metrics

#3393 temporarily skip SR example if Caltech101 dataset fails to download
  .github/workflows/unit-tests.yml
Labels: ci

#3385 adds available device to nlp tests #3335
  ignite/metrics/nlp/bleu.py
  tests/ignite/metrics/nlp/test_bleu.py
  tests/ignite/metrics/nlp/test_rouge.py
Labels: module: metrics

#3368 adds available_device to test_precision_recall_curve #3335
  ignite/metrics/precision_recall_curve.py
  tests/ignite/metrics/test_precision_recall_curve.py
Labels: module: metrics
