Repository pytorch/ignite, pull requests merged in 2025-09, with the labels that each got.

#3443 Add fixes to doctest and fix incorrect link
  docs/source/conf.py
  ignite/handlers/wandb_logger.py
  ignite/metrics/js_divergence.py
  ignite/metrics/maximum_mean_discrepancy.py
Labels: docs, module: metrics, module: handlers

#3445 Fix codecov deprecation warning
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
  .github/workflows/hvd-tests.yml
  .github/workflows/mps-tests.yml
  .github/workflows/tpu-tests.yml
  .github/workflows/unit-tests.yml
Labels: ci

#3440 Add SAVED_CHECKPOINT event to Checkpoint handler
  docs/source/handlers.rst
  ignite/handlers/checkpoint.py
  tests/ignite/handlers/test_checkpoint.py
Labels: docs, module: engine, module: metrics, module: handlers, ci

#3453 Fix failing distributed sampler test
  .github/workflows/gpu-hvd-tests.yml
  .github/workflows/gpu-tests.yml
  tests/ignite/distributed/test_auto.py
Labels: ci
